<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>oe-date demo</title>

  <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

  <script type="module">
    import '@polymer/iron-demo-helpers/demo-pages-shared-styles'; 
    import '@polymer/iron-demo-helpers/demo-snippet'; 
    import '@polymer/polymer/lib/elements/dom-bind';
    import '@polymer/polymer/lib/elements/custom-style';
    import 'oe-input/oe-input';
  </script>

  <script type="module" src="../oe-date.js"></script>
  <custom-style>
    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </custom-style>
</head>

<body>
  <div class="vertical-section-container centered">
    <h3>Date Inputs can have default initial value, be disabled</h3>
    <demo-snippet>
      <template>
        <oe-date label="date input"></oe-date>
        <oe-date label="Text input disabled" disable-text-input></oe-date>
        <oe-date label="date input as dropdown" dropdown-mode></oe-date>
        <oe-date label="date input opens on focus" open-on-focus dropdown-mode></oe-date>
        <oe-date label="date input with init=tod" init="tod"></oe-date>
        <oe-date label="disabled input" disabled></oe-date>
        <oe-date label="disabled input with init=1m" disabled init="1m"></oe-date>
        <oe-date label="input with init=1w and format=DD/MM/YYYY" init="1w" format="DD/MM/YYYY"></oe-date>
        <oe-date readonly label="readonly" init="1w" format="DD/MM/YYYY"></oe-date>
      </template>
    </demo-snippet>

    <h3>Date Formatting</h3>
    <demo-snippet>
      <template>
        <oe-date label="today format=DD/MM/YYYY" init="today" format="DD/MM/YYYY"></oe-date>
        <oe-date label="3y format=MM-DD-YY" init="3y" format="MM-DD-YY"></oe-date>
        <oe-date label="2q format=MMM DD YYYY" init="2q" format="MMM DD YYYY"></oe-date>
        <oe-date label="6m format=dddd MMM DD YYYY" init="6m" format="dddd MMM DD YYYY"></oe-date>
        <oe-date label="1w format=l" init="1w" format="l"></oe-date>
      </template>
    </demo-snippet>

    <h3>Random Format</h3>
    <demo-snippet>
      <template>
        <dom-bind>
          <template>
            <oe-input value="{{format}}" label="Enter Date Format"></oe-input>
            <oe-date label="Date value changes according to the format" init="1w" format="{{format}}"></oe-date>
          </template>
        </dom-bind>
      </template>
    </demo-snippet>

    <h3>Weekends and Start of Week</h3>
    <demo-snippet>
      <template>
        <oe-date label="Starts Sunday and Saturday Sunday are disabled" start-of-week="0" disabled-days="[6,0]"></oe-date>
      </template>
    </demo-snippet>

    <h3>Holiday Dates</h3>
    <demo-snippet>
      <template>
        <oe-date id="holiday" label="Oe-date with next 2 alternative days as holidays"></oe-date>
        <script>
          var holidayDatePicker = document.getElementById("holiday");
          var holidays = [];
          var date;
          for(var i = 1;i<5;i+=2){
            date = new Date();
            date.setUTCDate(date.getUTCDate()+i)
            holidays.push(date.toDateString());
          }
          holidayDatePicker.setAttribute('holidays',JSON.stringify(holidays));
        </script>
      </template>
    </demo-snippet>

    <h3>Date Validations</h3>
    <demo-snippet>
      <template>
        <oe-date label="this input requires some date" required></oe-date>
        <oe-date label="requires date to be on or before '29-Jan-2016'" required max="29-Jan-2016"></oe-date>
        <oe-date label="requires date to be on before 'today'" required max="today"></oe-date>
        <oe-date label="requires date to be on or after today" required min="today"></oe-date>
        <oe-date label="requires date to be within 1 month from now" required min="today" max="1m"></oe-date>
      </template>
    </demo-snippet>

    <h3>Date Inputs can have label and error-message internationalization</h3>
    <demo-snippet>
      <select id="selector">
        <option selected>en-US</option>
        <option>fr</option>
      </select>
    </demo-snippet>


    <h3>Externally set value</h3>
    <demo-snippet>
      <template>
        <oe-date id="oedate" init="tom" label="click button to increment value"></oe-date>
        <button onclick="dateIncrementValue()">+1 day</button>
        <button onclick="dateSetText()">Set 5m</button>
      </template>
    </demo-snippet>
  </div>
</body>
<script>
  function dateIncrementValue() {
    var elem = document.getElementById('oedate');
    var value = new Date(elem.value);
    value.setDate(value.getDate() + 1);
    elem.set('value', value);
  }

  function dateSetText() {
    var elem = document.getElementById('oedate');
    elem.$.display.set('value', '5m');
    elem.inputElement.fire('change');
  }
  
  if (typeof I18nMsg !== 'undefined') {
    I18nMsg.lang = window.navigator.userLanguage || window.navigator.language || 'en';
    Platform.performMicrotaskCheckpoint();
  }

  var selector = document.querySelector('#languageSelector');
  selector && selector.addEventListener('change', function () {
    I18nMsg.lang = this.value;
    Platform.performMicrotaskCheckpoint();
  });

</script>
</html>