<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>oe-combo test</title>

  <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../node_modules/@polymer/test-fixture/test-fixture.js"></script>
  <script src="../node_modules/chai/chai.js"></script>
  <script src="../node_modules/mocha/mocha.js"></script>
  <script src="../node_modules/wct-mocha/wct-mocha.js"></script>

  <script src="../node_modules/fakerest/dist/FakeRest.min.js"></script>
  <script src="../node_modules/sinon/pkg/sinon.js"></script>
  <script type="module" src="../oe-combo.js"></script>
</head>

<body>
  <test-fixture id="basic">
    <template>
      <oe-combo displayproperty="description" valueproperty="code"></oe-combo>
    </template>
  </test-fixture>

  <test-fixture id="with-template">
    <template>
      <oe-combo displayproperty="description" valueproperty="code">
        <template item-template>
          <paper-item on-mouseover="onMouseOver" on-tap="onItemSelected" data-item={{item}}>
            <span class="layout flex centered">{{item.description}}</span>
            <span>{{item.code}}</span>
          </paper-item>
        </template>
      </oe-combo>
    </template>
  </test-fixture>
  <test-fixture id="with-template-template-as-input">
    <template>
      <oe-combo show-template displayproperty="description" valueproperty="code">
        <template item-template>
          <paper-item on-mouseover="onMouseOver" on-tap="onItemSelected" data-item={{item}}>
            <span class="layout flex centered">{{item.description}}</span>
            <span>{{item.code}}</span>
          </paper-item>
        </template>
      </oe-combo>
    </template>
  </test-fixture>

  <test-fixture id="sorted">
    <template>
      <oe-combo sort displayproperty="description" valueproperty="code"></oe-combo>
    </template>
  </test-fixture>

  <test-fixture id="freetext">
    <template>
      <oe-combo allow-free-text displayproperty="description" valueproperty="code"></oe-combo>
    </template>
  </test-fixture>
  <test-fixture id="multi">
    <template>
      <oe-combo multi displayproperty="description" valueproperty="code"></oe-combo>
    </template>
  </test-fixture>

  <test-fixture id="with-value">
    <template>
      <oe-combo value="IN" displayproperty="description" valueproperty="code"></oe-combo>
    </template>
  </test-fixture>
  <test-fixture id="with-listurl">
    <template>
      <oe-combo listurl="get-object-list" displayproperty="description"></oe-combo>
    </template>
  </test-fixture>
  <test-fixture id="with-existing-listurl">
    <template>
      <oe-combo listurl="get-object-list" displayproperty="description"></oe-combo>
    </template>
  </test-fixture>
  <test-fixture id="with-listkey-listurl">
    <template>
      <oe-combo listkey="countries" listurl="get-object-list" displayproperty="description"></oe-combo>
    </template>
  </test-fixture>
  <test-fixture id="with-listkey1">
    <template>
      <oe-combo listkey="countries" show-refresh displayproperty="description"></oe-combo>
    </template>
  </test-fixture>
  <test-fixture id="with-listkey2">
    <template>
      <oe-combo listkey="states" displayproperty="description"></oe-combo>
    </template>
  </test-fixture>


  <script type="module">
      import { DomApi } from "@polymer/polymer/lib/legacy/polymer.dom";
      import '@polymer/iron-test-helpers/mock-interactions';
      import { timeOut, microTask } from '@polymer/polymer/lib/utils/async.js';
      
    function _asyncFn(callback, waitTime) {
        return waitTime > 0 ? timeOut.run(callback.bind(this), waitTime) :
            ~microTask.run(callback.bind(this));
    }

    function domApiFn(node){
        return new DomApi(node);
    }
     
    // import { timeOut } from '@polymer/polymer/lib/utils/async.js';
        var el;
        var arrow;
        var sArrow;
        var listkey;
        var isRequestMade = false;
        var urlListKey = "countries";
        var listdata = [{
            'code': 'IN',
            'description': 'India'
        }, {
            'code': 'AU',
            'description': 'Australia'
        }, {
            'code': 'UK',
            'description': 'United Kingdom'
        }, {
            'code': 'US',
            'description': 'United States'
        }, {
            'code': 'CN',
            'description': 'China'
        }, {
            'code': 'CL',
            'description': 'Chille'
        }, {
            'code': 'CD',
            'description': 'Chad'
        }];
        var stringdata = [
            'India',
            'Ireland',
            'Indonesia',
            'United States of America',
            'United Kingdom',
            'Uganda',
            'Uruguay'
        ];
        var states = [{
            'code': 'AP',
            'description': 'Andhra Pradesh'
        }, {
            'code': 'GJ',
            'description': 'Gujarat'
        }, {
            'code': 'TN',
            'description': 'Tamil Nadu'
        }, {
            'code': 'KA',
            'description': 'Karnataka'
        }, {
            'code': 'MH',
            'description': 'Maharashtra'
        }, {
            'code': 'DL',
            'description': 'Delhi'
        }, {
            'code': 'CHD',
            'description': 'Chandigarh'
        }];
       
        suite('<oe-combo basic>', function() {

            setup(function(done) {
                el = fixture('basic');
                el.set('listdata', listdata);
                flush(function(){
                    arrow = el.$.dropdownicon;
                    done();
                });
            });

            test('has displayproperty', function() {
                assert.equal(el.displayproperty, 'description');
            });

            test('has valueproperty', function() {
                assert.equal(el.valueproperty, 'code');
            });

            test('Setting value updates the display', function() {
                el.set('value', (listdata[2])[el.valueproperty]);
                assert.equal(el.displayValue, (listdata[2])[el.displayproperty]);
                el.set('value', (listdata[4])[el.valueproperty]);
                assert.equal(el.displayValue, (listdata[4])[el.displayproperty]);
            });

            test('Setting value, sets selectedItem', function() {
                el.set('value', (listdata[3])[el.valueproperty]);
                assert.equal(el.selectedItem, listdata[3]);
            });

            test('dropdown is not visible by default', function() {
                assert.notEqual(el.expand, true);
                var dropdown = el.$.dropdown;
                dropdown && assert.equal(dropdown.opened, false);
            });

            test('dropdown is displayed when arrow is tapped', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var dropdown = el.$.dropdown;
                assert.isDefined(dropdown);
                assert.notEqual(dropdown.opened, false);
            });

            test('When dropdown is open and arrow is tapped, dropdown closes', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                MockInteractions.tap(arrow);
                assert.equal(el.expand, false);

                var dropdown = el.$.dropdown;
                dropdown && assert.notEqual(dropdown.opened, true);
            });

            test('All listdata items are displayed in menu', function(done) {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var menu = el.shadowRoot.querySelector('paper-listbox');
                assert.isDefined(menu);
                flush(function(){
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);
                    done();
                });
            });

            test('Displayed data is sorted', function(done) {
                var sEl = fixture('sorted');
                var newlist = JSON.parse(JSON.stringify(listdata));
                sEl.set('listdata', newlist);
                flush(function(){
                    
                    //new list should be sorted now.
                    assert.deepEqual(sEl.listdata[0], listdata[1]);
                    assert.deepEqual(newlist[0], listdata[1]);
                    sArrow = sEl.$.dropdownicon;

                    MockInteractions.tap(sArrow);
                    var menu = sEl.shadowRoot.querySelector('paper-material');
                    assert.isDefined(menu);
                    flush(function(){
                        var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                        assert.equal(menuItems.length, newlist.length);
                        assert.equal(menuItems[0].querySelector('span').innerHTML, (listdata[1])[sEl.displayproperty]);
                        done();
                    });
                });
            });

            test('When item in dropdown is tapped, it is set as selected', function(done) {
                MockInteractions.tap(arrow);
                var menu = el.shadowRoot.querySelector('paper-material');
                assert.isDefined(menu);
                flush(function(){
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);

                    assert.notEqual(el.value, (listdata[1])[el.valueproperty]);
                    MockInteractions.tap(menuItems[1]);
                    assert.equal(el.value, (listdata[1])[el.valueproperty]);
                    assert.equal(el.displayValue, (listdata[1])[el.displayproperty]);
                    assert.equal(el.selectedItem, listdata[1]);
                    done();
                });
            });

            test('drowdown closes once selection is made', function(done) {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                flush(function(){
                    var dropdown = el.$.dropdown;
                    var menuItems = domApiFn(dropdown).querySelectorAll('paper-item');

                    MockInteractions.tap(menuItems[1]);

                    assert.notEqual(el.expand, true);
                    flush(function() {
                        assert.equal(dropdown.opened, false);
                        done();
                    });
                });
            });

            test('Item corresponding to set value is highlighted on dropdown', function(done){
                el.value = (listdata[3])[el.valueproperty];
    
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);

                flush( function(){
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    var item = menu.selectedItem;
                    assert.isDefined(item);
                    assert.isTrue(item.classList.contains('iron-selected'));
                    done();
                });
            });
          
            test('When down arrow key is pressed, drowdown opens', function(done) {
                flush(function(){
                    var input = el.inputElement;
                    MockInteractions.keyUpOn(input, 40);
                    flush(function() {
                        assert.equal(el.expand, true);
                        var dropdown = el.$.dropdown;
                        assert.notEqual(dropdown.opened, false);
                        done();
                    });
                });
            });

            test('down arrow + enter selects first element and closes menu', function(done) {
                var input = el.inputElement;
                MockInteractions.focus(input);
                MockInteractions.keyUpOn(input, 40);
                _asyncFn(function() {
                    MockInteractions.pressEnter(input);
                    _asyncFn(function() {
                        assert.equal(el.expand, false);
                        assert.equal(el.value, (listdata[0])[el.valueproperty]);
                        done();
                    }, 100);
                },200);
            });

            test('When down arrow key is pressed on open dropdown, highlighted item are rotated', function(
                done) {
                var input = el.inputElement.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var selectedItem = menu.focusedItem;
                    assert.isDefined(selectedItem);
                    assert.equal(menu.indexOf(selectedItem), 0);

                    MockInteractions.keyDownOn(menu, 40);
                    flush(function() {
                        selectedItem = menu.focusedItem;
                        assert.isDefined(selectedItem);
                        assert.equal(menu.indexOf(selectedItem), 1);
                        done();
                    });
                });


            });

            test('When up arrow key is pressed on open dropdown, highlighted item are rotated', function(done) {
                var input = el.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var selectedItem = menu.focusedItem;
                    assert.isDefined(selectedItem);
                    assert.equal(menu.indexOf(selectedItem), 0);

                    // up-arrow
                    MockInteractions.keyDownOn(menu, 38);
                    flush(function() {
                        selectedItem = menu.focusedItem;
                        assert.isDefined(selectedItem);
                        assert.equal(menu.indexOf(selectedItem), el._suggestions.length -
                            1);
                        done();
                    });
                });
            });

            test('Value is set when typed input matches exactly one record, and dropdown does not open',
                function(done) {
                    var input = el.inputElement;
                    input.bindValue = 'i';
                    MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(0));
                    input.fire('change');
                    flush(function(){

                        assert.equal(el.displayValue, 'India');
                        assert.equal(el.value, 'IN');
                        assert.equal(el.expand, false);
                        assert.equal(el.invalid, false);
                        assert.isUndefined(el.errorMessage);
                        var dropdown = el.$.dropdown;
                        dropdown && assert.equal(dropdown.opened, false);
                        done();
                    });
            });

            test('When typed input matches more than one record, dropdown is displayed with matching records on top',
                function(done) {
                    var input = el.inputElement;
                    input.bindValue = 'un';
                    MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(1));
                    input.fire('change');

                    flush(function(){
                        
                        assert.isUndefined(el.value);
                        assert.equal(el.expand, true);
                        var menu = el.shadowRoot.querySelector('paper-listbox');
                        assert.isNotNull(menu);
                        assert.notEqual(getComputedStyle(menu).display, 'none');
                        var menuItems = domApiFn(menu).querySelectorAll('paper-item');

                        var item0 = menuItems[0].dataItem
                        var item1 = menuItems[1].dataItem;

                        assert.isTrue((item0[el.displayproperty]).toLowerCase().indexOf(el.displayValue) >= 0);
                        assert.isTrue((item1[el.displayproperty]).toLowerCase().indexOf(el.displayValue) >= 0);
                        done(); 
                    });
            });

            test('When typed input does not match any record, control is set to error and dropdown is displayed',
                function(done) {
                    var input = el.inputElement;
                    input.set('bindValue', 'Ux');
                    MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(1));
                    input.fire('change');
                    flush(function(){
                        assert.isUndefined(el.value);
                        assert.equal(el.expand, true);
                        var menu = el.shadowRoot.querySelector('paper-listbox');
                        assert.isNotNull(menu);
                        assert.notEqual(getComputedStyle(menu).display, 'none');
                        flush(function(){
                            assert.equal(el.invalid, true);
                            assert.equal(el.errorMessage, 'invalidValue');
                            done();
                        });
                    });
            });

            test('When allowFreeText is set and typed input does not match any record, no error is raised and input is set as value',
                function(done) {
                    var el = fixture('freetext');
                    el.set('listdata', listdata);
                    flush(function(){
                        var input = el.inputElement;
                        input.set('bindValue', 'UwU');
                        MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(1));
                        input.fire('change');
                        flush(function(){                        
                            assert.equal(el.value, 'UwU');
                            assert.equal(el.invalid, false);
                            assert.isUndefined(el.errorMessage);
                            done();
                        });
                    });
            });

            test('When backspace is pressed, new set of matches are displayed in dropdown', function(done) {
                var input = el.inputElement;
                input.set('bindValue', 'Cha');
                MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(2));
                input.fire('change');
                assert.equal(el.value, 'CD');
                assert.equal(el.expand, false);
                input.set('bindValue', 'Ch');
                // backspace
                MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(46));
                flush(function(){
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.isNotNull(menu);
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal((menuItems[0].dataItem[el.displayproperty]).toLowerCase().indexOf('ch'), 0);
                    assert.equal((menuItems[1].dataItem[el.displayproperty]).toLowerCase().indexOf('ch'), 0);
                    assert.equal((menuItems[2].dataItem[el.displayproperty]).toLowerCase().indexOf('ch'), 0);
                    assert.notEqual(el.invalid, true);
                    assert.notEqual(el.errorMessage, 'invalidValue');
                    done();
                });
            });

           
            test('When value is pre-set, the displayValue is updated', function() {
                var el = fixture('with-value');
                el.set('listdata', listdata);

                assert.equal(el.value, 'IN');
                assert.equal(el.displayValue, 'India');
            });
        });



        suite('<oe-combo multi>', function() {

            setup(function(done) {
                el = fixture('multi');
                el.set('listdata', listdata);
                flush(function(){
                    arrow = el.$.dropdownicon;
                    done();
                });
            });

            test('has displayproperty', function() {
                assert.equal(el.displayproperty, 'description');
            });

            test('has valueproperty', function() {
                assert.equal(el.valueproperty, 'code');
            });

            test('Setting value updates the display', function() {
                el.set('value', [(listdata[2])[el.valueproperty]]);
                assert.equal(el.displayValue, (listdata[2])[el.displayproperty]);
                el.set('value', [(listdata[4])[el.valueproperty]]);
                assert.equal(el.displayValue, (listdata[4])[el.displayproperty]);
            });

            test('dropdown is not visible by default', function() {
                assert.notEqual(el.expand, true);
                var dropdown = el.$.dropdown;
                dropdown && assert.equal(dropdown.opened, false);
            });

            test('dropdown is displayed when arrow is tapped', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var dropdown = el.$.dropdown;
                assert.isDefined(dropdown);
                assert.notEqual(dropdown.opened, false);
            });

            test('When dropdown is open and arrow is tapped, dropdown closes', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                MockInteractions.tap(arrow);
                assert.equal(el.expand, false);
                var dropdown = el.$.dropdown;
                dropdown && assert.notEqual(dropdown.opened, true);
            });

            test('All listdata items are displayed in menu', function(done) {
                MockInteractions.tap(arrow);
                flush(function(){
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.isDefined(menu);

                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);
                    done();
                });
            });

            test('Displayed data is sorted', function(done) {
                var sEl = fixture('sorted');
                var newlist = JSON.parse(JSON.stringify(listdata));
                sEl.set('listdata', newlist);
                //new list should be sorted now.
                assert.deepEqual(sEl.listdata[0], listdata[1]);
                assert.deepEqual(newlist[0], listdata[1]);
                sArrow = sEl.$.dropdownicon;
                MockInteractions.tap(sArrow);
                flush(function(){
                    var menu = sEl.shadowRoot.querySelector('paper-material');
                    assert.isDefined(menu);
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, newlist.length);
                    assert.equal(menuItems[0].querySelector('span').innerHTML, (listdata[1])[sEl.displayproperty]);
                    done();
                });
            });

            test('When item in dropdown is tapped, it is set as selected', function(done) {
                MockInteractions.tap(arrow);
                flush(function(){
                    var menu = el.shadowRoot.querySelector('paper-material');
                    assert.isDefined(menu);
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);
                    assert.notEqual(el.value, (listdata[1])[el.valueproperty]);
                    MockInteractions.tap(menuItems[1]);
                    flush(function(){
                        assert.equal(el.value, (listdata[1])[el.valueproperty]);
                        assert.equal(el.displayValue, (listdata[1])[el.displayproperty]);
                        assert.equal(el.selectedItems.indexOf(listdata[1]), 0);
                        done(); 
                    });
                });
            });

            test('When more than one  item in dropdown is tapped, it is set as selected', function(done) {
                MockInteractions.tap(arrow);
                flush(function(){
                    var menu = el.shadowRoot.querySelector('paper-material');
                    assert.isDefined(menu);
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);
                    var selectedItems = [];
                    var selectedValues = [];
                    var displayValue = "";
                    assert.notEqual(el.value, (listdata[1])[el.valueproperty]);
                    MockInteractions.tap(menuItems[1]);
                    flush(function(){
                        selectedItems.push(listdata[1]);
                        selectedValues.push((listdata[1])[el.valueproperty])
                        MockInteractions.tap(menuItems[2]);
                        flush(function(){
                            selectedItems.push(listdata[2]);
                            selectedValues.push((listdata[2])[el.valueproperty])
                            assert.deepEqual(el.value, selectedValues);
                            assert.deepEqual(el.displayValue, ((listdata[1])[el.displayproperty] + ", " + (listdata[2])[el.displayproperty]));
                            assert.deepEqual(el.selectedItems, selectedItems);
                            done();  
                        });
                    });
                });
            });

            test('When down arrow key is pressed, drowdown opens', function(done) {
                var input = el.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var dropdown = el.$.dropdown;
                    assert.notEqual(dropdown.opened, false);
                    done();
                });

            });

            test('down arrow + enter selects first element and closes menu', function(done) {
                var input = el.inputElement;
                MockInteractions.focus(input);
                MockInteractions.keyUpOn(input, 40);
                
                _asyncFn(function() {
                    MockInteractions.pressEnter(input);
                    _asyncFn(function() {
                        assert.equal(el.expand, false);
                        //assert.equal(el.value, (listdata[0])[el.valueproperty]);
                        done();
                    }, 100);
                },200);
            });

            test('When down arrow key is pressed on open dropdown, highlighted item are rotated', function(
                done) {
                var input = el.inputElement.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var selectedItem = menu.focusedItem;
                    assert.isDefined(selectedItem);
                    assert.equal(menu.indexOf(selectedItem), 0);

                    MockInteractions.keyDownOn(menu, 40);
                    flush(function() {
                        selectedItem = menu.focusedItem;
                        assert.isDefined(selectedItem);
                        assert.equal(menu.indexOf(selectedItem), 1);
                        done();
                    });
                });


            });

            test('When up arrow key is pressed on open dropdown, highlighted item are rotated', function(done) {
                var input = el.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var selectedItem = menu.focusedItem;
                    assert.isDefined(selectedItem);
                    assert.equal(menu.indexOf(selectedItem), 0);

                    // up-arrow
                    MockInteractions.keyDownOn(menu, 38);
                    flush(function() {
                        selectedItem = menu.focusedItem;
                        assert.isDefined(selectedItem);
                        assert.equal(menu.indexOf(selectedItem), el._suggestions.length -
                            1);
                        done();
                    });
                });
            });

           
            test('When value is pre-set, the displayValue is updated', function() {
                var el = fixture('with-value');
                el.set('listdata', listdata);
                assert.equal(el.value, 'IN');
                assert.equal(el.displayValue, 'India');
            });
          
            test('selectedItem is updated when value is set', function() {
              var el = fixture('with-value');
              el.set('listdata', listdata);
              assert.equal(el.value, 'IN');
              assert.equal(el.displayValue, 'India');
              assert.equal(el.selectedItem, listdata.find(function(item){
                return item.code === 'IN';
              }));
              
              el.set('value', undefined);
              assert.equal(el.displayValue, '');
              assert.equal(el.selectedItem, undefined);
            });
        });


        suite('<oe-combo with template>', function() {

            setup(function(done) {
                el = fixture('with-template');
                el.set('listdata', listdata);
                flush(function(){
                    arrow = el.$.dropdownicon;
                    done();
                })
            });

            test('Setting value updates the display', function() {
                el.set('value', (listdata[2])[el.valueproperty]);
                assert.equal(el.displayValue, (listdata[2])[el.displayproperty]);
                el.set('value', (listdata[4])[el.valueproperty]);
                assert.equal(el.displayValue, (listdata[4])[el.displayproperty]);
            });

            test('Setting value, sets selectedItem', function() {
                el.set('value', (listdata[3])[el.valueproperty]);
                assert.equal(el.selectedItem, listdata[3]);
            });

            test('dropdown is not visible by default', function() {
                assert.notEqual(el.expand, true);
                var dropdown = el.$.dropdown;
                dropdown && assert.equal(dropdown.opened, false);
            });

            test('dropdown is displayed when arrow is tapped', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var dropdown = el.$.dropdown;
                assert.isDefined(dropdown);
                assert.notEqual(dropdown.opened, false);
            });

            test('dropdown items are displayed as per the template', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var dropdown = el.$.dropdown;
                assert.isDefined(dropdown);
                assert.notEqual(dropdown.opened, false);

                var items = el.$.menu.querySelectorAll('paper-item');
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    assert.equal(item.children.length, 2);
                    assert.equal(item.children[0].nodeName, 'SPAN');
                    assert.equal(item.children[0].className, 'layout flex centered');
                    assert.equal(item.children[1].nodeName, 'SPAN');
                }

            });

            test('When dropdown is open and arrow is tapped, dropdown closes', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                MockInteractions.tap(arrow);
                assert.equal(el.expand, false);

                var dropdown = el.$.dropdown;
                dropdown && assert.notEqual(dropdown.opened, true);
            });

            test('All listdata items are displayed in menu', function(done) {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var menu = el.shadowRoot.querySelector('paper-listbox');
                assert.isDefined(menu);
                flush(function(){
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);
                    done();
                });
            });

            test('Displayed data is sorted', function(done) {
                var sEl = fixture('sorted');
                var newlist = JSON.parse(JSON.stringify(listdata));
                sEl.set('listdata', newlist);
                //new list should be sorted now.
                assert.deepEqual(sEl.listdata[0], listdata[1]);
                assert.deepEqual(newlist[0], listdata[1]);
                sArrow = sEl.$.dropdownicon;

                MockInteractions.tap(sArrow);
                var menu = sEl.shadowRoot.querySelector('paper-material');
                assert.isDefined(menu);
                flush(function(){
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, newlist.length);
                    assert.equal(menuItems[0].querySelector('span').innerHTML, (listdata[1])[sEl.displayproperty]);
                    done();
                });
            });

            test('When item in dropdown is tapped, it is set as selected', function(done) {
                MockInteractions.tap(arrow);
                var menu = el.shadowRoot.querySelector('paper-material');
                assert.isDefined(menu);
                flush(function(){
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);
                    assert.notEqual(el.value, (listdata[1])[el.valueproperty]);
                    MockInteractions.tap(menuItems[1]);
                    flush(function(){
                        assert.equal(el.value, (listdata[1])[el.valueproperty]);
                        assert.equal(el.displayValue, (listdata[1])[el.displayproperty]);
                        assert.equal(el.selectedItem, listdata[1]);
                        done();
                    });
                });
            });

            test('drowdown closes once selection is made', function(done) {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                flush(function(){
                    var dropdown = el.$.dropdown;
                    var menuItems = domApiFn(dropdown).querySelectorAll('paper-item');
                    MockInteractions.tap(menuItems[1]);
                    assert.notEqual(el.expand, true);
                    flush(function() {
                        assert.equal(dropdown.opened, false);
                        done();
                    });
                });
            });

            test('When down arrow key is pressed, drowdown opens', function(done) {
                var input = el.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var dropdown = el.$.dropdown;
                    assert.notEqual(dropdown.opened, false);
                    done();
                });

            });

            test('down arrow + enter selects first element and closes menu', function(done) {
                var input = el.inputElement;
                MockInteractions.focus(input);
                MockInteractions.keyUpOn(input, 40);
                _asyncFn(function() {
                    MockInteractions.pressEnter(input);
                    _asyncFn(function() {
                        assert.equal(el.expand, false);
                        assert.equal(el.value, (listdata[0])[el.valueproperty]);
                        done();
                    }, 100);
                },200);
            });

            test('When down arrow key is pressed on open dropdown, highlighted item are rotated', function(
                done) {
                var input = el.inputElement.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var selectedItem = menu.focusedItem;
                    assert.isDefined(selectedItem);
                    assert.equal(menu.indexOf(selectedItem), 0);

                    MockInteractions.keyDownOn(menu, 40);
                    flush(function() {
                        selectedItem = menu.focusedItem;
                        assert.isDefined(selectedItem);
                        assert.equal(menu.indexOf(selectedItem), 1);
                        done();
                    });
                });


            });

            test('When up arrow key is pressed on open dropdown, highlighted item are rotated', function(done) {
                var input = el.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var selectedItem = menu.focusedItem;
                    assert.isDefined(selectedItem);
                    assert.equal(menu.indexOf(selectedItem), 0);

                    // up-arrow
                    MockInteractions.keyDownOn(menu, 38);
                    flush(function() {
                        selectedItem = menu.focusedItem;
                        assert.isDefined(selectedItem);
                        assert.equal(menu.indexOf(selectedItem), el._suggestions.length -
                            1);
                        done();
                    });
                });
            });

           
            test('Value is set when typed input matches exactly one record, and dropdown does not open',
                function(done) {
                    var input = el.inputElement;
                    input.bindValue = 'i';
                    MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(0));
                    input.fire('change');
                    flush(function(){

                        assert.equal(el.displayValue, 'India');
                        assert.equal(el.value, 'IN');
                        assert.equal(el.expand, false);
                        assert.equal(el.invalid, false);
                        assert.isUndefined(el.errorMessage);
                        var dropdown = el.$.dropdown;
                        dropdown && assert.equal(dropdown.opened, false);
                        done();
                    });
            });

            test('When typed input matches more than one record, dropdown is displayed with matching records on top',
                function(done) {
                    var input = el.inputElement;
                    input.bindValue = 'un';
                    MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(1));
                    input.fire('change');

                    flush(function(){
                        
                        assert.isUndefined(el.value);
                        assert.equal(el.expand, true);
                        var menu = el.shadowRoot.querySelector('paper-listbox');
                        assert.isNotNull(menu);
                        assert.notEqual(getComputedStyle(menu).display, 'none');
                        var menuItems = domApiFn(menu).querySelectorAll('paper-item');

                        var item0 = menuItems[0].dataItem
                        var item1 = menuItems[1].dataItem;

                        assert.isTrue((item0[el.displayproperty]).toLowerCase().indexOf(el.displayValue) >= 0);
                        assert.isTrue((item1[el.displayproperty]).toLowerCase().indexOf(el.displayValue) >= 0);
                        done(); 
                    });
            });

            test('When typed input does not match any record, control is set to error and dropdown is displayed',
                function(done) {
                    var input = el.inputElement;
                    input.set('bindValue', 'Ux');
                    MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(1));
                    input.fire('change');
                    flush(function(){
                        assert.isUndefined(el.value);
                        assert.equal(el.expand, true);
                        var menu = el.shadowRoot.querySelector('paper-listbox');
                        assert.isNotNull(menu);
                        assert.notEqual(getComputedStyle(menu).display, 'none');
                        flush(function(){
                            assert.equal(el.invalid, true);
                            assert.equal(el.errorMessage, 'invalidValue');
                            done();
                        });
                    });
            });

            test('When allowFreeText is set and typed input does not match any record, no error is raised and input is set as value',
                function(done) {
                    var el = fixture('freetext');
                    el.set('listdata', listdata);
                    flush(function(){
                        var input = el.inputElement;
                        input.set('bindValue', 'UwU');
                        MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(1));
                        input.fire('change');
                        flush(function(){                        
                            assert.equal(el.value, 'UwU');
                            assert.equal(el.invalid, false);
                            assert.isUndefined(el.errorMessage);
                            done();
                        });
                    });
            });

            test('When backspace is pressed, new set of matches are displayed in dropdown', function(done) {
                var input = el.inputElement;
                input.set('bindValue', 'Cha');
                MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(2));
                input.fire('change');
                assert.equal(el.value, 'CD');
                assert.equal(el.expand, false);
                input.set('bindValue', 'Ch');
                // backspace
                MockInteractions.keyUpOn(input, input.bindValue.charCodeAt(46));
                flush(function(){
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.isNotNull(menu);
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal((menuItems[0].dataItem[el.displayproperty]).toLowerCase().indexOf('ch'), 0);
                    assert.equal((menuItems[1].dataItem[el.displayproperty]).toLowerCase().indexOf('ch'), 0);
                    assert.equal((menuItems[2].dataItem[el.displayproperty]).toLowerCase().indexOf('ch'), 0);
                    assert.notEqual(el.invalid, true);
                    assert.notEqual(el.errorMessage, 'invalidValue');
                    done();
                });
            });

            test('When value is pre-set, the displayValue is updated', function() {
                var el = fixture('with-value');
                el.set('listdata', listdata);

                assert.equal(el.value, 'IN');
                assert.equal(el.displayValue, 'India');
            });
        });
    
        suite('<oe-combo with template as display input>', function() {

            setup(function() {
                el = fixture('with-template-template-as-input');
                el.set('listdata', listdata);
                arrow = el.$.dropdownicon;
            });

            test('Setting value updates the display', function() {
                el.set('value', (listdata[2])[el.valueproperty]);
                assert.equal(el.displayValue, (listdata[2])[el.displayproperty]);
                el.set('value', (listdata[4])[el.valueproperty]);
                assert.equal(el.displayValue, (listdata[4])[el.displayproperty]);
            });

            test('Setting value, sets selectedItem', function() {
                el.set('value', (listdata[3])[el.valueproperty]);
                assert.equal(el.selectedItem, listdata[3]);
            });

            test('dropdown is not visible by default', function() {
                assert.notEqual(el.expand, true);
                var dropdown = el.$.dropdown;
                dropdown && assert.equal(dropdown.opened, false);
            });
            test('input is readonly', function() {
                var input = el.inputElement;
                input && assert.equal(input.readonly, true);
            });
            test('template div is visible', function() {

                var templateDiv = el.$.templateDiv;
                assert.notEqual(templateDiv, undefined);
            });

            test('dropdown is displayed when arrow is tapped', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var dropdown = el.$.dropdown;
                assert.isDefined(dropdown);
                assert.notEqual(dropdown.opened, false);
            });

            test('dropdown items are displayed as per the template', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var dropdown = el.$.dropdown;
                assert.isDefined(dropdown);
                assert.notEqual(dropdown.opened, false);

                var items = el.$.menu.querySelectorAll('paper-item');
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    assert.equal(item.children.length, 2);
                    assert.equal(item.children[0].nodeName, 'SPAN');
                    assert.equal(item.children[0].className, 'layout flex centered');
                    assert.equal(item.children[1].nodeName, 'SPAN');
                }

            });

            test('When dropdown is open and arrow is tapped, dropdown closes', function() {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                MockInteractions.tap(arrow);
                assert.equal(el.expand, false);

                var dropdown = el.$.dropdown;
                dropdown && assert.notEqual(dropdown.opened, true);
            });

            test('All listdata items are displayed in menu', function(done) {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                var menu = el.shadowRoot.querySelector('paper-listbox');
                assert.isDefined(menu);
                flush(function(){
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);
                    done();
                });
            });

            test('Displayed data is sorted', function(done) {
                var sEl = fixture('sorted');
                var newlist = JSON.parse(JSON.stringify(listdata));
                sEl.set('listdata', newlist);
                //new list should be sorted now.
                assert.deepEqual(sEl.listdata[0], listdata[1]);
                assert.deepEqual(newlist[0], listdata[1]);
                sArrow = sEl.$.dropdownicon;

                MockInteractions.tap(sArrow);
                var menu = sEl.shadowRoot.querySelector('paper-material');
                assert.isDefined(menu);
                flush(function(){
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, newlist.length);
                    assert.equal(menuItems[0].querySelector('span').innerHTML, (listdata[1])[sEl.displayproperty]);
                    done();
                });
            });

            test('When item in dropdown is tapped, it is set as selected', function(done) {
                MockInteractions.tap(arrow);
                var menu = el.shadowRoot.querySelector('paper-material');
                assert.isDefined(menu);
                flush(function(){
                    var menuItems = domApiFn(menu).querySelectorAll('paper-item');
                    assert.equal(menuItems.length, listdata.length);
                    assert.notEqual(el.value, (listdata[1])[el.valueproperty]);
                    MockInteractions.tap(menuItems[1]);
                    flush(function(){
                        assert.equal(el.value, (listdata[1])[el.valueproperty]);
                        assert.equal(el.displayValue, (listdata[1])[el.displayproperty]);
                        assert.equal(el.selectedItem, listdata[1]);
                        done();
                    });
                });
            });

            test('drowdown closes once selection is made', function(done) {
                MockInteractions.tap(arrow);
                assert.equal(el.expand, true);
                flush(function(){
                    var dropdown = el.$.dropdown;
                    var menuItems = domApiFn(dropdown).querySelectorAll('paper-item');
                    MockInteractions.tap(menuItems[1]);
                    assert.notEqual(el.expand, true);
                    flush(function() {
                        assert.equal(dropdown.opened, false);
                        done();
                    });
                });
            });

/* 
            test('down arrow + enter selects first element and closes menu', function(done) {
                var input = el.inputElement;
                MockInteractions.focus(input);
                MockInteractions.keyUpOn(input, 40);
                flush(function() {
                    MockInteractions.pressEnter(input);
                    _asyncFn(function() {
                        assert.equal(el.expand, false);
                        assert.equal(el.value, (listdata[0])[el.valueproperty]);
                        done();
                    }, 500);
                });
            });

            test('When down arrow key is pressed on open dropdown, highlighted item are rotated', function(
                done) {
                var input = el.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var selectedItem = menu.focusedItem;
                    assert.isDefined(selectedItem);
                    assert.equal(menu.indexOf(selectedItem), 0);

                    MockInteractions.keyUpOn(input, 40);
                    flush(function() {
                        selectedItem = menu.focusedItem;
                        assert.isDefined(selectedItem);
                        assert.equal(menu.indexOf(selectedItem), 1);
                        done();
                    });
                });
            });

            test('When up arrow key is pressed on open dropdown, highlighted item are rotated', function(done) {
                var input = el.inputElement;
                MockInteractions.keyUpOn(input, 40);

                flush(function() {
                    assert.equal(el.expand, true);
                    var menu = el.shadowRoot.querySelector('paper-listbox');
                    assert.notEqual(getComputedStyle(menu).display, 'none');
                    var selectedItem = menu.focusedItem;
                    assert.isDefined(selectedItem);
                    assert.equal(menu.indexOf(selectedItem), 0);

                    // up-arrow
                    MockInteractions.keyUpOn(input, 38);
                    flush(function() {
                        selectedItem = menu.focusedItem;
                        assert.isDefined(selectedItem);
                        assert.equal(menu.indexOf(selectedItem), el._suggestions.length -
                            1);
                        done();
                    });
                });
            });





 */



        });
        suite('<oe-combo listurl>', function() {

            var server;
            var xhr, requests;

            setup(function() {
                xhr = sinon.useFakeXMLHttpRequest();
                requests = [];
                xhr.onCreate = function(req) {
                    requests.push(req);
                };

                server = sinon.fakeServer.create();
                server.autoRespond = true;
                server.respondImmediately = true;
                server.respondWith(
                    'GET',
                    /get-object-list/,
                    function(req) {
                        isRequestMade = true;
                        req.respond(200, 'application/json', JSON.stringify(listdata));
                    }
                );

                server.respondWith(
                    'GET',
                    /get-string-list/,
                    function(req) {
                        req.respond(200, 'application/json', JSON.stringify(stringdata));
                    }
                );

            });

            test('loads remote list data', function(done) {
                var el = fixture('with-listurl');
                _asyncFn(function() {
                    assert.deepEqual(el.listdata, listdata);
                    assert.deepEqual(isRequestMade, true);
                    //setting request made to false , so that the following testcases are not affected
                    isRequestMade = false;
                    done();
                }, 100);
            });

        });

        suite('<oe-combo listkey>', function() {
            //request is not made and picked from cache previously
            test('loads data from listkey', function(done) {
                var el = fixture('with-existing-listurl');
                _asyncFn(function() {
                    assert.deepEqual(el.listdata, listdata);
                    assert.deepEqual(isRequestMade, false);
                    done();
                }, 100);
            });
            //when user gives an explict key  for the data to cache, that key is set and not a hash of url
            test('loads data from listkey', function(done) {
                var el = fixture('with-listkey-listurl');
                _asyncFn(function() {
                    assert.deepEqual(el.listdata, listdata);
                    assert.deepEqual(isRequestMade, true);
                    assert.deepEqual(window.OEUtils.oeCache[urlListKey], listdata)
                    done();
                }, 100);
            });
            //When only key is specified and not listurl. Data exists in cache for the key 
            test('loads data from listkey', function(done) {
                var el = fixture('with-listkey1');
                _asyncFn(function() {
                    assert.deepEqual(el.listdata, listdata);
                    assert.deepEqual(window.OEUtils.oeCache[urlListKey], listdata)
                    done();
                }, 100);
            });
            //When only key is specified and not listurl. Data does not exists in cache for the key 
            test('loads data from listkey', function(done) {
                var el = fixture('with-listkey2');
                _asyncFn(function() {
                    assert.deepEqual(el.listdata, undefined);
                    done();
                }, 100);
            });
            //explicitly setting the data in cache
            test('loads data from listkey', function(done) {
                var evt = new CustomEvent("oe-update-cache", {
                    bubbles: true,
                    detail: {
                        "key": "states",
                        "data": states
                    }
                });
                document.dispatchEvent(evt);
                var el = fixture('with-listkey2');
                _asyncFn(function() {
                    assert.deepEqual(el.listdata, states);
                    done();
                }, 100);
            });
            //Manipulating data in cache
            test('loads data from listkey', function(done) {
                var newListData = listdata;
                newListData.pop();
                var evt = new CustomEvent("oe-update-cache", {
                    bubbles: true,
                    detail: {
                        "key": "countries",
                        "data": newListData
                    }
                });
                document.dispatchEvent(evt);
                var el = fixture('with-listkey1');
                _asyncFn(function() {
                    assert.deepEqual(el.listdata.length, 6);
                    done();
                }, 100);
            });


        });
  </script>

</body>

</html>