<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>oe-combo demo</title>

  <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

  <script type="module">
    import '@polymer/iron-demo-helpers/demo-pages-shared-styles'; 
    import '@polymer/iron-demo-helpers/demo-snippet'; 
    import '@polymer/iron-image/iron-image';
    import '@polymer/polymer/lib/elements/dom-bind'; 
    import '@polymer/polymer/lib/elements/custom-style';
  </script>

  <script type="module" src="../oe-combo.js"></script>

  <script type="text/javascript">
    window.OEUtils = window.OEUtils || {};
  </script>
  <custom-style>
    <style include="demo-pages-shared-styles">
    </style>
  </custom-style>
</head>

<body>
  <div class="vertical-section-container centered">
    <h3>Set Display attribute into dropdown and value attribute into model</h3>
    <demo-snippet>
      <template>
        <dom-bind>
          <template>
            <span>{{cval}}</span>
            <oe-combo error-message="Please enter a valid value" label="Country" displayproperty="d" valueproperty="c" required value="{{cval}}"
              listdata='[{"c":"IN","d":"India"},{"c":"CN","d":"China"},{"c":"DE","d":"Germany"},{"c":"FR","d":"France"},{"c":"UK","d":"United Kingdom"},{"c":"US","d":"United States"}]'>
              <iron-icon slot="prefix" icon="home"></iron-icon>
            </oe-combo>
          </template>
        </dom-bind>
      </template>
    </demo-snippet>

    <h3>Show Filtered values only</h3>
    <demo-snippet>
      <template>
        <oe-combo error-message="Please enter a valid value" 
          show-filtered-only
          label="Country" displayproperty="d" valueproperty="c" required listdata='[{"c":"IN","d":"India"},{"c":"CN","d":"China"},{"c":"DE","d":"Germany"},{"c":"FR","d":"France"},{"c":"UK","d":"United Kingdom"},{"c":"US","d":"United States"}]'>
        </oe-combo>
      </template>
    </demo-snippet>


    <h3>Pre Selected Value</h3>
    <demo-snippet>
      <template>
        <dom-bind>
          <template>
            <oe-combo label="Country" displayproperty="d" valueproperty="c" value="DE" listdata='[{"c":"IN","d":"India"},{"c":"CN","d":"China"},{"c":"DE","d":"Germany"},{"c":"FR","d":"France"},{"c":"UK","d":"United Kingdom"},{"c":"US","d":"United States"}]'>
            </oe-combo>
          </template>
        </dom-bind>
      </template>
    </demo-snippet>

    <h3>Use multi select to choose multiple options</h3>
    <demo-snippet>
      <template>
        <dom-bind>
          <template>
            <span>{{cval}}</span>
            <oe-combo multi error-message="Please enter a valid value" multi label="Country" displayproperty="d" valueproperty="c" required
              value="{{cval}}" listdata='[{"c":"IN","d":"India"},{"c":"CN","d":"China"},{"c":"DE","d":"Germany"},{"c":"FR","d":"France"},{"c":"UK","d":"United Kingdom"},{"c":"US","d":"United States"}]'>
              <iron-icon slot="prefix" icon="home"></iron-icon>
            </oe-combo>
          </template>
        </dom-bind>
      </template>
    </demo-snippet>

    <h3>Multi select with Pre Selected Value</h3>
    <demo-snippet>
      <template>
        <dom-bind>
          <template>
            <oe-combo multi label="Country" displayproperty="d" valueproperty="c" value='["DE","IN"]' listdata='[{"c":"IN","d":"India"},{"c":"CN","d":"China"},{"c":"DE","d":"Germany"},{"c":"FR","d":"France"},{"c":"UK","d":"United Kingdom"},{"c":"US","d":"United States"}]'>
            </oe-combo>
          </template>
        </dom-bind>
      </template>
    </demo-snippet>

    <h3>Allow Free Text</h3>
    <demo-snippet>
      <template>
        <dom-bind>
          <template>
            <span>{{cval}}</span>
            <oe-combo allow-free-text label="Country" displayproperty="d" valueproperty="c" value="{{cval}}" listdata='[{"c":"IN","d":"India"},{"c":"CN","d":"China"},{"c":"DE","d":"Germany"},{"c":"FR","d":"France"},{"c":"UK","d":"United Kingdom"},{"c":"US","d":"United States"}]'>
            </oe-combo>
          </template>
        </dom-bind>
      </template>
    </demo-snippet>

    <h3>Templating the Item</h3>
    <demo-snippet>
      <template>
        <oe-combo label="Templated Country Items" displayproperty="d" valueproperty="c" listdata='[{"c":"IN","d":"India"},{"c":"CN","d":"China"},{"c":"DE","d":"Germany"},{"c":"FR","d":"France"},{"c":"GB","d":"United Kingdom"},{"c":"US","d":"United States"}]'>
          <template item-template>
            <paper-item on-mouseover="onMouseOver" on-tap="onItemSelected" data-item={{item}} disabled="[[readonly]]">
              <div class="layout horizontal flex">
                <iron-image style="width:36px; height:24px;" sizing="contain" src="https://raw.githubusercontent.com/emcrisostomo/flags/master/png/256/{{item.c}}.png"></iron-image>
                <span class="layout flex centered">{{item.d}}</span>
                <span>{{item.c}}</span>
              </div>
            </paper-item>
          </template>
        </oe-combo>
      </template>
    </demo-snippet>

    <h3>Templating the Item with the input shown as template</h3>
    <demo-snippet>
      <template>
        <oe-combo show-template label="Templated Country Items" displayproperty="d" valueproperty="c" listdata='[{"c":"IN","d":"India"},{"c":"CN","d":"China"},{"c":"DE","d":"Germany"},{"c":"FR","d":"France"},{"c":"GB","d":"United Kingdom"},{"c":"US","d":"United States"}]'>
          <template item-template>
            <paper-item on-mouseover="onMouseOver" on-tap="onItemSelected" data-item={{item}} disabled="[[readonly]]">
              <div class="layout horizontal flex">
                <iron-image style="width:36px; height:24px;" sizing="contain" src="https://raw.githubusercontent.com/emcrisostomo/flags/master/png/256/{{item.c}}.png"></iron-image>
                <span class="layout flex centered">{{item.d}}</span>
                <span>{{item.c}}</span>
              </div>
            </paper-item>
          </template>
        </oe-combo>
      </template>
    </demo-snippet>
  </div>
</body>
</html>
