<!-- ©2015-2016 EdgeVerve Systems Limited (a fully owned Infosys subsidiary), Bangalore, India. All Rights Reserved.
The EdgeVerve proprietary software program ("Program"), is protected by copyrights laws, international treaties and other pending or existing intellectual property rights in India, the United States and other countries.
The Program may contain/reference third party or open source components, the rights to which continue to
remain with the applicable third party licensors or the open source community as the case may be and nothing
here transfers the rights to the third party and open source components, except as expressly permitted.
Any unauthorized reproduction, storage, transmission in any form or by any means (including without limitation to electronic, mechanical, printing, photocopying, recording or  otherwise), or any distribution of this Program,or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law. -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">
<iron-iconset-svg name="oe-designer-icons" size="28">
	<svg>
		<defs>

			<svg version="1.1" id="model" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
				<path id="model-box" fill="currentColor"  d="M3.6,0.8C2,0.8,0.8,2,0.8,3.6v17c0,1.5,1.3,2.8,2.8,2.8h16.8c1.5,0,2.8-1.2,2.8-2.8v-17
	c0-1.5-1.3-2.8-2.8-2.8H3.6z M13.9,19.7c-0.4,0-0.7-0.3-0.7-0.7v-4.2c0-0.4,0.3-0.7,0.7-0.7h5.6c0.4,0,0.7,0.3,0.7,0.7V19
	c0,0.4-0.3,0.7-0.7,0.7H13.9z M13.9,12c-0.4,0-0.7-0.3-0.7-0.7V7.1c0-0.4,0.3-0.7,0.7-0.7h5.6c0.4,0,0.7,0.3,0.7,0.7v4.2
	c0,0.4-0.3,0.7-0.7,0.7H13.9z M4.3,19.7c-0.4,0-0.7-0.3-0.7-0.7v-4.2c0-0.4,0.3-0.7,0.7-0.7h5.6c0.4,0,0.7,0.3,0.7,0.7V19
	c0,0.4-0.3,0.7-0.7,0.7H4.3z M4.3,12c-0.4,0-0.7-0.3-0.7-0.7V7.1c0-0.4,0.3-0.7,0.7-0.7h5.6c0.4,0,0.7,0.3,0.7,0.7v4.2
	c0,0.4-0.3,0.7-0.7,0.7H4.3z" />
			</svg>
			<svg version="1.1" id="resource-manager" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
				<path id="resource" fill="currentColor" d="M3.6,0.8h5.6C10.8,0.8,12,2,12,3.5h8.4c1.6,0,2.8,1.3,2.8,2.8v14.1c0,1.5-1.2,2.8-2.8,2.8H3.6
	c-1.5,0-2.8-1.2-2.8-2.8V3.6C0.8,2.1,2.1,0.8,3.6,0.8z M4.3,7.8c-0.4,0-0.7,0.3-0.7,0.7v11.2c0,0.4,0.3,0.7,0.7,0.7h15.4
	c0.4,0,0.7-0.3,0.7-0.7V8.5c0-0.4-0.3-0.7-0.7-0.7H4.3z" />
			</svg>
			<svg version="1.1" id="route-manager" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
				<path id="route" fill="currentColor" d="M3.6,0.8h16.8c1.5,0,2.8,1.3,2.8,2.8v4.2c0,1.6-1.2,2.8-2.8,2.8H3.6c-1.5,0-2.8-1.3-2.8-2.8V3.6
	C0.8,2,2,0.8,3.6,0.8z M4.3,3.6c-0.4,0-0.7,0.3-0.7,0.7v2.8c0,0.4,0.3,0.7,0.7,0.7h15.4c0.4,0,0.7-0.3,0.7-0.7V4.3
	c0-0.4-0.3-0.7-0.7-0.7H4.3z M8.5,16.6h2.1V19H6.4C5.6,19,5,18.4,5,17.6v-7h2.8v5.3C7.8,16.3,8.1,16.6,8.5,16.6z M13.4,13.4h7
	c1.5,0,2.8,1.3,2.8,2.8v4.2c0,1.6-1.3,2.8-2.8,2.8h-7c-1.5,0-2.8-1.3-2.8-2.8v-4.2C10.6,14.6,11.9,13.4,13.4,13.4z M14.1,16.2
	c-0.4,0-0.7,0.3-0.7,0.7v2.8c0,0.4,0.3,0.7,0.7,0.7h5.6c0.4,0,0.7-0.3,0.7-0.7v-2.8c0-0.4-0.3-0.7-0.7-0.7H14.1z" />
			</svg>
			<svg version="1.1" id="rules-manager" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
				<path id="rule" fill="currentColor"  d="M1.5,14.8c-0.4,0-0.7,0.3-0.7,0.7v1.4c0,0.4,0.3,0.7,0.7,0.7h21c0.4,0,0.7-0.3,0.7-0.7v-1.4
	c0-0.4-0.3-0.7-0.7-0.7H1.5z M1.5,20.4c-0.4,0-0.7,0.3-0.7,0.7v1.4c0,0.4,0.3,0.7,0.7,0.7h21c0.4,0,0.7-0.3,0.7-0.7v-1.4
	c0-0.4-0.3-0.7-0.7-0.7H1.5z M22.5,12c0.4,0,0.7-0.3,0.7-0.7V9.9c0-0.4-0.3-0.7-0.7-0.7h-7c-0.4,0-0.7,0.3-0.7,0.7v1.4
	c0,0.4,0.3,0.7,0.7,0.7H22.5z M14.7,2.2c0.3,0.3,0.3,0.7,0,1l-7.3,7.7c-0.5,0.6-1.4,0.6-1.9,0L1.3,6.5C1,6.3,1,5.8,1.3,5.5l0.9-1
	c0.3-0.3,0.7-0.3,1,0L6.4,8l6.4-6.7c0.3-0.3,0.7-0.3,0.9,0L14.7,2.2z" />
			</svg>
			<svg version="1.1" id="ui-designer" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
				<path id="ui" fill="currentColor" d="M0.8,3.6c0-1.5,1.3-2.8,2.8-2.8h16.8c1.5,0,2.8,1.3,2.8,2.8v16.8c0,1.5-1.3,2.8-2.8,2.8H3.6
	c-1.5,0-2.8-1.3-2.8-2.8V3.6z M3.6,7.1v12.6c0,0.4,0.3,0.7,0.7,0.7h15.4c0.4,0,0.7-0.3,0.7-0.7V7.1c0-0.4-0.3-0.7-0.7-0.7H4.3
	C3.9,6.4,3.6,6.7,3.6,7.1z" />
			</svg>
			<svg version="1.1" id="workflow" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;">
				<path id="workflow" fill="currentColor" d="M5.7,10.6c-2.7,0-4.9-2.2-4.9-4.9S3,0.8,5.7,0.8s4.9,2.2,4.9,4.9S8.4,10.6,5.7,10.6z M5.7,7.8
	c1.2,0,2.1-0.9,2.1-2.1S6.9,3.6,5.7,3.6S3.6,4.6,3.6,5.7S4.5,7.8,5.7,7.8z M18.3,23.2c-2.7,0-4.9-2.2-4.9-4.9s2.2-4.9,4.9-4.9
	s4.9,2.2,4.9,4.9S21,23.2,18.3,23.2z M17.8,1.3c0.3-0.3,0.7-0.3,1,0l4,4c0.3,0.3,0.3,0.7,0,1l-4,4c-0.3,0.3-0.7,0.3-1,0l-4-4
	c-0.3-0.3-0.3-0.7,0-1L17.8,1.3z M0.8,14.1c0-0.4,0.3-0.7,0.7-0.7h8.4c0.4,0,0.7,0.3,0.7,0.7v8.4c0,0.4-0.3,0.7-0.7,0.7H1.5
	c-0.4,0-0.7-0.3-0.7-0.7V14.1z" />
			</svg>
			<g id="excel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="">
				<g>
					<polygon id="Shape" points="2,1.9999961853027344 26.000001907348633,1.9999961853027344 26.000001907348633,26.000003814697266 2,26.000003814697266 " />
					<path d="M5.000000953674316,5.75555222213989 L18.133334253674317,3.399996662139891 L18.133334253674317,24.599996662139887 L5.000000953674316,22.244441062139884 L5.000000953674316,5.75555222213989 zM11.500000953674316,12.758238462139893 L9.980923053674317,9.999996662139893 L8.061209223674316,9.999996662139893 L10.420509693674317,13.967029662139893 L8.000000953674316,17.999996662139893 L9.941972333674316,17.999996662139893 L11.500000953674316,15.19779886213989 L13.058029553674317,17.999996662139893 L15.000000953674316,17.999996662139893 L12.579492253674317,13.967029662139893 L14.938792653674316,9.999996662139893 L13.019078853674316,9.999996662139893 L11.500000953674316,12.758238462139893 zM19.000000953674316,4.599996662139894 L23.000000953674316,4.599996662139894 L23.000000953674316,23.79999666213989 L19.000000953674316,23.79999666213989 L19.000000953674316,4.599996662139894 z" id="Combined-Shape" fill="currentColor" />
				</g>
			</g>
			<g id="detailed-view" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g>
					<polygon id="Shape" points="28.794116973876953,-0.35294151306152344 28.794116973876953,28.352940618991852 -0.7941178679466248,28.352940618991852 -0.7941178679466248,-0.35294151306152344 " />
					<path d="M22.628827826043562,23.56862762619727 C23.310301865935205,23.56862762619727 23.86274567560133,23.03917117893375 23.86274567560133,22.37379716047345 L23.86274567560133,21.17522272997297 C23.86274567560133,20.515336080243852 23.31458550284898,19.980392264249147 22.628827826043562,19.980392264249147 L5.371172593323301,19.980392264249147 C4.689698602745389,19.980392264249147 4.137254793079251,20.509848711512667 4.137254793079251,21.17522272997297 L4.137254793079251,22.37379716047345 C4.137254793079251,23.033683810202568 4.685414916517878,23.56862762619727 5.371172593323301,23.56862762619727 L22.628827826043562,23.56862762619727 zM22.628827826043562,17.18954257815878 C23.310301865935205,17.18954257815878 23.86274567560133,16.645665371799126 23.86274567560133,15.98968547312425 L23.86274567560133,12.01031451554697 C23.86274567560133,11.347651779686945 23.31458550284898,10.810457446394796 22.628827826043562,10.810457446394796 L5.371172593323301,10.810457446394796 C4.689698602745389,10.810457446394796 4.137254793079251,11.354334652754453 4.137254793079251,12.01031451554697 L4.137254793079251,15.98968547312425 C4.137254793079251,16.652348220945065 4.685414916517878,17.18954257815878 5.371172593323301,17.18954257815878 L22.628827826043562,17.18954257815878 zM4.137254793079251,6.824777306541389 C4.137254793079251,7.484663920388158 4.685414916517878,8.019607724422073 5.371172593323301,8.019607724422073 L22.628827826043562,8.019607724422073 C23.310301865935205,8.019607724422073 23.86274567560133,7.490151241276198 23.86274567560133,6.824777306541389 L23.86274567560133,5.626202780354635 C23.86274567560133,4.96631616650787 23.31458550284898,4.431372362473951 22.628827826043562,4.431372362473951 L5.371172593323301,4.431372362473951 C4.689698602745389,4.431372362473951 4.137254793079251,4.9608288456198295 4.137254793079251,5.626202780354635 L4.137254793079251,6.824777306541389 z" fill="currentColor" />
				</g>
			</g>
			<g id="relation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g>
					<polygon id="Shape" points="0.7250537276268005,0.5294122695922852 27.274946212768555,0.5294122695922852 27.274946212768555,27.470587730407715 0.7250537276268005,27.470587730407715 " />
					<path d="M25.06245518485184,18.49019684715597 L25.06245518485184,5.01960816307394 C25.06245518485184,3.7848042003664215 24.066834192331637,2.774510049060268 22.849964078020918,2.774510049060268 L9.575017925762083,2.774510049060268 C8.358147855881064,2.774510049060268 7.362526885575704,3.7848042003664215 7.362526885575704,5.01960816307394 L7.362526885575704,18.49019684715597 C7.362526885575704,19.72500080986349 8.358147855881064,20.735294961169643 9.575017925762083,20.735294961169643 L22.849964078020918,20.735294961169643 C24.066834192331637,20.735294961169643 25.06245518485184,19.72500080986349 25.06245518485184,18.49019684715597 L25.06245518485184,18.49019684715597 zM2.9375448163103925,7.264706277087612 L2.9375448163103925,22.980393075183315 C2.9375448163103925,24.21519703789084 3.9331657866157457,25.225491189196987 5.150035856496764,25.225491189196987 L20.637473082264243,25.225491189196987 L20.637473082264243,22.980393075183315 L5.150035856496764,22.980393075183315 L5.150035856496764,7.264706277087612 L2.9375448163103925,7.264706277087612 L2.9375448163103925,7.264706277087612 zM15.106245481798318,11.754902505114956 L9.575017925762083,11.754902505114956 L9.575017925762083,7.264706277087612 L15.106245481798318,7.264706277087612 L15.106245481798318,11.754902505114956 L15.106245481798318,11.754902505114956 zM15.106245481798318,18.49019684715597 L9.575017925762083,18.49019684715597 L9.575017925762083,14.000000619128627 L15.106245481798318,14.000000619128627 L15.106245481798318,18.49019684715597 L15.106245481798318,18.49019684715597 zM22.849964078020918,18.49019684715597 L17.318736588629235,18.49019684715597 L17.318736588629235,14.000000619128627 L22.849964078020918,14.000000619128627 L22.849964078020918,18.49019684715597 L22.849964078020918,18.49019684715597 zM22.849964078020918,11.754902505114956 L17.318736588629235,11.754902505114956 L17.318736588629235,7.264706277087612 L22.849964078020918,7.264706277087612 L22.849964078020918,11.754902505114956 L22.849964078020918,11.754902505114956 z" fill="currentColor" />
				</g>
			</g>
			<g id="data-manager" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g>
					<polygon id="Shape" points="0.6764717102050781,0.6764717102050781 27.32352924346924,0.6764717102050781 27.32352924346924,27.323528289794922 0.6764717102050781,27.323528289794922 " />
					<path d="M8.616476893458454,9.596390844627862 C9.224521198719152,9.596390844627862 9.717438508816421,9.099974753545371 9.717438508816421,8.489285894273962 L9.717438508816421,6.224754133907691 C9.717438508816421,5.613316947513383 9.230599970112962,5.1176491835537945 8.616476893458454,5.1176491835537945 L5.108316176962781,5.1176491835537945 C4.500271860599142,5.1176491835537945 4.007354550501873,5.614065263533341 4.007354550501873,6.224754133907691 L4.007354550501873,8.489285894273962 C4.007354550501873,9.100723069565333 4.49419310030828,9.596390844627862 5.108316176962781,9.596390844627862 L8.616476893458454,9.596390844627862 zM8.616476893458454,22.9199200880971 C9.224521198719152,22.9199200880971 9.717438508816421,22.423504041426376 9.717438508816421,21.812815082228497 L9.717438508816421,19.548283321862222 C9.717438508816421,18.936846246497325 9.230599970112962,18.441178427023033 8.616476893458454,18.441178427023033 L5.108316176962781,18.441178427023033 C4.500271860599142,18.441178427023033 4.007354550501873,18.937594473693757 4.007354550501873,19.548283321862222 L4.007354550501873,21.812815082228497 C4.007354550501873,22.42425226862281 4.49419310030828,22.9199200880971 5.108316176962781,22.9199200880971 L8.616476893458454,22.9199200880971 zM15.754081858006046,22.9199200880971 C16.362126207678514,22.9199200880971 16.855043495569902,22.423504041426376 16.855043495569902,21.812815082228497 L16.855043495569902,19.548283321862222 C16.855043495569902,18.936846246497325 16.368204956866435,18.441178427023033 15.754081858006046,18.441178427023033 L12.245921108201557,18.441178427023033 C11.6378768140438,18.441178427023033 11.144959503946524,18.937594473693757 11.144959503946524,19.548283321862222 L11.144959503946524,21.812815082228497 C11.144959503946524,22.42425226862281 11.63179805375293,22.9199200880971 12.245921108201557,22.9199200880971 L15.754081858006046,22.9199200880971 zM22.89168677814188,22.9199200880971 C23.499731127814343,22.9199200880971 23.99264841570573,22.423504041426376 23.99264841570573,21.812815082228497 L23.99264841570573,19.548283321862222 C23.99264841570573,18.936846246497325 23.505809877002264,18.441178427023033 22.89168677814188,18.441178427023033 L19.383526028337386,18.441178427023033 C18.775481789694332,18.441178427023033 18.282564501802945,18.937594473693757 18.282564501802945,19.548283321862222 L18.282564501802945,21.812815082228497 C18.282564501802945,22.42425226862281 18.76940304050641,22.9199200880971 19.383526028337386,22.9199200880971 L22.89168677814188,22.9199200880971 zM15.754081858006046,9.596390844627862 C16.362126207678514,9.596390844627862 16.855043495569902,9.099974753545371 16.855043495569902,8.489285894273962 L16.855043495569902,6.224754133907691 C16.855043495569902,5.613316947513383 16.368204956866435,5.1176491835537945 15.754081858006046,5.1176491835537945 L12.245921108201557,5.1176491835537945 C11.6378768140438,5.1176491835537945 11.144959503946524,5.614065263533341 11.144959503946524,6.224754133907691 L11.144959503946524,8.489285894273962 C11.144959503946524,9.100723069565333 11.63179805375293,9.596390844627862 12.245921108201557,9.596390844627862 L15.754081858006046,9.596390844627862 zM18.282564501802945,8.489285894273962 C18.282564501802945,9.100723069565333 18.76940304050641,9.596390844627862 19.383526028337386,9.596390844627862 L22.89168677814188,9.596390844627862 C23.499731127814343,9.596390844627862 23.99264841570573,9.099974753545371 23.99264841570573,8.489285894273962 L23.99264841570573,6.224754133907691 C23.99264841570573,5.613316947513383 23.505809877002264,5.1176491835537945 22.89168677814188,5.1176491835537945 L19.383526028337386,5.1176491835537945 C18.775481789694332,5.1176491835537945 18.282564501802945,5.614065263533341 18.282564501802945,6.224754133907691 L18.282564501802945,8.489285894273962 zM8.616476893458454,16.25815546636248 C9.224521198719152,16.25815546636248 9.717438508816421,15.761739419691757 9.717438508816421,15.151050460493877 L9.717438508816421,12.886518700127603 C9.717438508816421,12.275081624762702 9.230599970112962,11.779413805288414 8.616476893458454,11.779413805288414 L5.108316176962781,11.779413805288414 C4.500271860599142,11.779413805288414 4.007354550501873,12.275829851959134 4.007354550501873,12.886518700127603 L4.007354550501873,15.151050460493877 C4.007354550501873,15.76248764688819 4.49419310030828,16.25815546636248 5.108316176962781,16.25815546636248 L8.616476893458454,16.25815546636248 zM15.754081858006046,16.25815546636248 C16.362126207678514,16.25815546636248 16.855043495569902,15.761739419691757 16.855043495569902,15.151050460493877 L16.855043495569902,12.886518700127603 C16.855043495569902,12.275081624762702 16.368204956866435,11.779413805288414 15.754081858006046,11.779413805288414 L12.245921108201557,11.779413805288414 C11.6378768140438,11.779413805288414 11.144959503946524,12.275829851959134 11.144959503946524,12.886518700127603 L11.144959503946524,15.151050460493877 C11.144959503946524,15.76248764688819 11.63179805375293,16.25815546636248 12.245921108201557,16.25815546636248 L15.754081858006046,16.25815546636248 zM18.282564501802945,15.151050460493877 C18.282564501802945,15.76248764688819 18.76940304050641,16.25815546636248 19.383526028337386,16.25815546636248 L22.89168677814188,16.25815546636248 C23.499731127814343,16.25815546636248 23.99264841570573,15.761739419691757 23.99264841570573,15.151050460493877 L23.99264841570573,12.886518700127603 C23.99264841570573,12.275081624762702 23.505809877002264,11.779413805288414 22.89168677814188,11.779413805288414 L19.383526028337386,11.779413805288414 C18.775481789694332,11.779413805288414 18.282564501802945,12.275829851959134 18.282564501802945,12.886518700127603 L18.282564501802945,15.151050460493877 z" fill="currentColor" />
				</g>
			</g>
			<g id="oe-logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="">
				<g id="oe-v2">
					<rect id="Rectangle-11" x="1.9937105476856232" y="1.9937114944211118" width="20.012578883061877" height="20.01257718203715" />
					<path d="M14.905529923326696,3.10552133786762 L14.905529923326696,7.2088408704536135 L8.394770960058196,7.2088408704536135 C7.742509137207504,7.2088408704536135 7.208840366992524,7.74250959530783 7.208840366992524,8.394771362717833 L7.208840366992524,14.905529772586258 L3.1055204856335052,14.905529772586258 L3.1055204856335052,3.10552133786762 L14.905529923326696,3.10552133786762 zM9.09447002175213,16.791159267071563 L15.605229051729228,16.791159267071563 C16.25749080787132,16.791159267071563 16.791159578086305,16.25749054221722 16.791159578086305,15.60522884151586 L16.791159578086305,9.094470364938793 L20.89447949279962,9.094470364938793 L20.89447949279962,20.894478833011753 L9.09447002175213,20.894478833011753 L9.09447002175213,16.791159267071563 z" id="Combined-Shape" fill="currentColor" />
				</g>
			</g>
			<g id="add-page" fill="none" transform="translate(26,26) rotate(180)">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M15,22 L17,20 L17,17 L20,17 L22,15 L15,15 L15,22 Z M2,22 L12.4,22 L14.5,20 L4,20 L4,4 L20,4 L20,14.5 L22,12.6 L22,2 L2,2 L2,22 Z M15,10 L15,12 L12,12 L12,15 L10,15 L10,12 L7,12 L7,10 L10,10 L10,7 L12,7 L12,10 L15,10 L15,10 Z" id="Combined-Shape" fill="currentColor" /> </g>
			</g>
			<g id="add-page-2" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M14,2 L6,2 C4.9,2 4.01,2.9 4.01,4 L4,20 C4,21.1 4.89,22 5.99,22 L18,22 C19.1,22 20,21.1 20,20 L20,8 L14,2 L14,2 Z M16,16 L13,16 L13,19 L11,19 L11,16 L8,16 L8,14 L11,14 L11,11 L13,11 L13,14 L16,14 L16,16 L16,16 Z M13,9 L13,3.5 L18.5,9 L13,9 L13,9 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="button" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19,3 L5,3 C3.9,3 3,3.9 3,5 L3,19 C3,20.1 3.9,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,5 C21,3.9 20.1,3 19,3 L19,3 Z M19,19 L5,19 L5,5 L19,5 L19,19 Z M9,16.6338755 L9,7 L12.235553,7 C12.7604783,7 13.2379767,7.05293285 13.6680626,7.15880015 C14.0981485,7.26466744 14.4653701,7.42567153 14.7697386,7.64181725 C15.0741071,7.85796298 15.3089966,8.13144938 15.4744142,8.46228467 C15.6398319,8.79311996 15.7225395,9.18349975 15.7225395,9.63343574 C15.7181283,10.0833717 15.5979267,10.4869847 15.3619308,10.8442868 C15.125935,11.201589 14.7785631,11.4728698 14.3198049,11.6581376 C14.5977065,11.7287158 14.8381099,11.8345815 15.0410222,11.9757379 C15.2439345,12.1168943 15.412658,12.2834122 15.5471976,12.4752967 C15.6817373,12.6671811 15.7809864,12.876707 15.8449479,13.1038806 C15.9089094,13.3310541 15.9408897,13.5659437 15.9408897,13.8085562 C15.9408897,14.2717256 15.8614904,14.6797497 15.7026895,15.0326407 C15.5438885,15.3855316 15.3167184,15.6810734 15.0211722,15.9192748 C14.725626,16.1574762 14.3661237,16.3361246 13.9426545,16.4552253 C13.5191853,16.574326 13.0427897,16.6338755 12.5134532,16.6338755 L9,16.6338755 Z M10.6908489,12.0725467 L10.6908489,14.8184659 L12.3450171,14.8184659 C12.8522979,14.8140548 13.2393694,14.689442 13.5062432,14.4446239 C13.773117,14.1998058 13.9065519,13.8789004 13.9065519,13.481898 C13.910963,13.0407843 13.7918641,12.6967208 13.5492515,12.4496971 C13.306639,12.2026734 12.9316979,12.0769579 12.4244172,12.0725467 L10.6908489,12.0725467 Z M10.6908489,11.2184179 L12.0737335,11.2184179 C12.5898366,11.2140068 12.986833,11.1059355 13.2647346,10.8942009 C13.5426362,10.6824663 13.6837905,10.3714858 13.6882017,9.96125008 C13.6882017,9.51131408 13.5492529,9.18820313 13.2713513,8.99190752 C12.9934496,8.79561192 12.5920422,8.69526005 12.0671168,8.69084891 L10.6908489,8.69084891 L10.6908489,11.2184179 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="check-box" fill="none">
				<g id="Icon-24px">
					<polygon id="Bounds" points="0 0 24 0 24 24 0 24" />
					<path d="M19,3 L5,3 C3.89,3 3,3.9 3,5 L3,19 C3,20.1 3.89,21 5,21 L19,21 C20.11,21 21,20.1 21,19 L21,5 C21,3.9 20.11,3 19,3 L19,3 Z M10,17 L5,12 L6.41,10.59 L10,14.17 L17.59,6.58 L19,8 L10,17 L10,17 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="check-box-outline-blank" fill="none">
				<g id="Icon-24px">
					<polygon id="Bounds" points="0 0 24 0 24 24 0 24" />
					<path d="M19,5 L19,19 L5,19 L5,5 L19,5 L19,5 Z M19,3 L5,3 C3.9,3 3,3.9 3,5 L3,19 C3,20.1 3.9,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,5 C21,3.9 20.1,3 19,3 L19,3 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="combo-box" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19,6 L5,6 C3.9,6 3,6.9 3,8 L3,16 C3,17.1 3.9,18 5,18 L19,18 C20.1,18 21,17.1 21,16 L21,8 C21,6.9 20.1,6 19,6 Z M19,16 L5,16 L5,8 L19,8 L19,16 Z M12,11 L14.5,14 L17,11 L12,11 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="container" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M17,4.66666667 L7,4.66666667 C5.9,4.66666667 5,5.4 5,6.2962963 L5,17.7037037 C5,18.6 5.9,19.3333333 7,19.3333333 L17,19.3333333 C18.1,19.3333333 19,18.6 19,17.7037037 L19,6.2962963 C19,5.4 18.1,4.66666667 17,4.66666667 L17,4.66666667 Z M17,17.3333333 L7,17.3333333 L7,6.66666667 L17,6.66666667 L17,17.3333333 L17,17.3333333 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="database" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M20,13 L4,13 C3.45,13 3,13.45 3,14 L3,20 C3,20.55 3.45,21 4,21 L20,21 C20.55,21 21,20.55 21,20 L21,14 C21,13.45 20.55,13 20,13 L20,13 Z M7,19 C5.9,19 5,18.1 5,17 C5,15.9 5.9,15 7,15 C8.1,15 9,15.9 9,17 C9,18.1 8.1,19 7,19 L7,19 Z M20,3 L4,3 C3.45,3 3,3.45 3,4 L3,10 C3,10.55 3.45,11 4,11 L20,11 C20.55,11 21,10.55 21,10 L21,4 C21,3.45 20.55,3 20,3 L20,3 Z M7,9 C5.9,9 5,8.1 5,7 C5,5.9 5.9,5 7,5 C8.1,5 9,5.9 9,7 C9,8.1 8.1,9 7,9 L7,9 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="date" fill="none">
				<g id="Icon-24px">
					<path d="M16,1 L16,3 L8,3 L8,1 L6,1 L6,3 L5,3 C3.89,3 3.01,3.9 3.01,5 L3,19 C3,20.1 3.89,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,5 C21,3.9 20.1,3 19,3 L18,3 L18,1 L16,1 L16,1 Z M19,19 L5,19 L5,8 L19,8 L19,19 L19,19 Z" id="Shape" fill="currentColor" />
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" /> </g>
			</g>
			<g id="date-time" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M16,1 L16,3 L8,3 L8,1 L6,1 L6,3 L5,3 C3.89,3 3.01,3.9 3.01,5 L3,19 C3,20.1 3.89,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,5 C21,3.9 20.1,3 19,3 L18,3 L18,1 L16,1 L16,1 Z M19,19 L5,19 L5,8 L19,8 L19,19 L19,19 Z M12.5,9 L11,9 L11,15 L16.25,18.15 L17,16.92 L12.5,14.25 L12.5,9 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="decimal-input" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
					<path d="M13.5984904,6 L5,6 C3.9,6 3,6.9 3,8 L3,16 C3,17.1 3.9,18 5,18 L19,18 C20.1,18 21,17.1 21,16 L21,11.2052174 C20.9503961,11.262516 20.8989469,11.3188858 20.8456522,11.3743267 C20.3683894,11.8708097 19.7531747,12.2133387 19,12.4019166 L19,16 L5,16 L5,8 L13.0128212,8 C13.0626721,7.25253955 13.2578943,6.58587541 13.5984904,6 Z M15,8.35958796 C15,7.6323116 15.2181019,7.02625705 15.6543123,6.54140615 C16.0905227,6.05655524 16.7448284,5.81413342 17.6172492,5.81413342 C18.48967,5.81413342 19.1516284,6.05655524 19.6031444,6.54140615 C20.0546604,7.02625705 20.2804151,7.6323116 20.2804151,8.35958796 C20.2804151,9.05656115 20.0546604,9.63988865 19.6031444,10.109588 C19.1516284,10.5792873 18.48967,10.8141334 17.6172492,10.8141334 C16.7448284,10.8141334 16.0905227,10.5792873 15.6543123,10.109588 C15.2181019,9.63988865 15,9.05656115 15,8.35958796 Z" id="Shape" fill="currentColor"></path>
				</g>
			</g>
			<g id="desktop-view" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M21,3 L3,3 C1.9,3 1,3.9 1,5 L1,17 C1,18.1 1.9,19 3,19 L8,19 L8,21 L16,21 L16,19 L21,19 C22.1,19 22.99,18.1 22.99,17 L23,5 C23,3.9 22.1,3 21,3 L21,3 Z M21,17 L3,17 L3,5 L21,5 L21,17 L21,17 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="form-builder" fill="none">
				<g id="Icon-24px">
					<path d="M19,4 L5,4 C3.89,4 3,4.9 3,6 L3,18 C3,19.1 3.89,20 5,20 L19,20 C20.1,20 21,19.1 21,18 L21,6 C21,4.9 20.11,4 19,4 L19,4 Z M19,9 L5,9 L5,7 L19,7 L19,9 L19,9 Z M19,15 L5,15 L5,13 L19,13 L19,15 L19,15 Z M19,18 L5,18 L5,16 L19,16 L19,18 Z M5,10 L19,10 L19,12 L5,12 L5,10 Z" id="Shape" fill="currentColor" />
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" /> </g>
			</g>
			<g id="h-box" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19,6 L5,6 C3.9,6 3,6.9 3,8 L3,16 C3,17.1 3.9,18 5,18 L19,18 C20.1,18 21,17.1 21,16 L21,8 C21,6.9 20.1,6 19,6 Z M19,16 L5,16 L5,8 L19,8 L19,16 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="h1" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M12.0186751,15.8449384 L12.0186751,6.81827172 L10.1042234,6.81827172 L10.1042234,10.4553901 L6.47336671,10.4553901 L6.47336671,6.81827172 L4.55891502,6.81827172 L4.55891502,15.8449384 L6.47336671,15.8449384 L6.47336671,12.0292705 L10.1042234,12.0292705 L10.1042234,15.8449384 L12.0186751,15.8449384 Z M17.5243741,15.8449384 L17.5243741,6.81827172 L15.675938,6.81827172 C15.3260554,7.00343411 13.840705,7.96892373 13.5040255,8.2136026 L13.5040255,9.94619356 C13.8142987,9.72796646 15.3260554,8.73602507 15.5637115,8.60376622 L15.6363286,8.60376622 L15.6363286,15.8449384 L17.5243741,15.8449384 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="h2" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M11.4687802,15.8605367 L11.4687802,6.83851471 L9.55201356,6.83851471 L9.55201356,10.4737617 L5.91676659,10.4737617 L5.91676659,6.83851471 L4,6.83851471 L4,15.8605367 L5.91676659,15.8605367 L5.91676659,12.0468322 L9.55201356,12.0468322 L9.55201356,15.8605367 L11.4687802,15.8605367 Z M14.8065978,9.56825471 C14.8065978,9.54842609 14.7999883,9.49554977 14.7999883,9.45589253 C14.7999883,8.78171945 15.2824847,8.18686086 16.0954581,8.18686086 C16.8291171,8.18686086 17.3777089,8.68918589 17.3777089,9.38979713 C17.3777089,10.1168465 16.8489457,10.6786574 16.3730588,11.187592 L13.1211651,14.6774291 L13.1211651,15.8605367 L19.4266663,15.8605367 L19.4266663,14.3205139 L15.7121048,14.3205139 L15.7121048,14.2610281 L17.6751382,12.0732704 C18.4418448,11.2338588 19.2680373,10.4671521 19.2680373,9.20473001 C19.2680373,7.7638503 18.0320533,6.66666667 16.1351154,6.66666667 C13.9936244,6.66666667 12.9955839,8.0943273 12.9955839,9.46911161 L12.9955839,9.56825471 L14.8065978,9.56825471 Z" id="H2" fill="currentColor" /> </g>
			</g>
			<g id="h3" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M11.3567708,15.7226562 L11.3567708,6.8359375 L9.46875,6.8359375 L9.46875,10.4166667 L5.88802083,10.4166667 L5.88802083,6.8359375 L4,6.8359375 L4,15.7226562 L5.88802083,15.7226562 L5.88802083,11.9661458 L9.46875,11.9661458 L9.46875,15.7226562 L11.3567708,15.7226562 Z M15.0286458,11.8619792 L15.9921875,11.8619792 C16.9947917,11.8619792 17.5481771,12.4023437 17.5546875,13.1315104 C17.5611979,13.8736979 16.9817708,14.4335937 16.0117187,14.4335937 C15.0872396,14.4335937 14.5208333,13.90625 14.4557292,13.2161458 L12.7239583,13.2161458 C12.7565104,14.6484375 13.7851562,15.8984375 15.9661458,15.8984375 C17.8606771,15.8984375 19.4492187,14.8502604 19.4296875,13.2291667 C19.4166667,11.8098958 18.375,11.1523437 17.5481771,11.0872396 L17.5481771,11.015625 C18.21875,10.9244792 19.1692708,10.2473958 19.1497396,8.984375 C19.1302083,7.63020833 17.8216146,6.66666667 16.0377604,6.66666667 C14.0325521,6.66666667 12.9257812,7.81901042 12.8802083,9.29036458 L14.6380208,9.29036458 C14.6640625,8.72395833 15.1002604,8.10546875 15.9726562,8.10546875 C16.7669271,8.10546875 17.3007812,8.58723958 17.3072917,9.23828125 C17.3072917,9.93489583 16.7669271,10.4296875 15.9466146,10.4296875 L15.0286458,10.4296875 L15.0286458,11.8619792 Z" id="H3" fill="currentColor" /> </g>
			</g>
			<g id="h4" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M11.0177669,15.1438806 L11.0177669,6.66666667 L9.21674704,6.66666667 L9.21674704,10.0823939 L5.80101981,10.0823939 L5.80101981,6.66666667 L4,6.66666667 L4,15.1438806 L5.80101981,15.1438806 L5.80101981,11.5604722 L9.21674704,11.5604722 L9.21674704,15.1438806 L11.0177669,15.1438806 Z M15.5327372,6.66666667 C14.4086524,8.45526565 13.2783572,10.3183896 12.3033224,12.1690927 L12.3033224,13.6099086 L16.4021951,13.6099086 L16.4021951,15.1438806 L18.085217,15.1438806 L18.085217,13.6099086 L19.1037248,13.6099086 L19.1037248,12.1753031 L18.085217,12.1753031 L18.085217,6.66666667 L15.5327372,6.66666667 Z M13.905609,12.1753031 L13.905609,12.1566719 C14.6446481,10.7406977 15.4954747,9.31851308 16.3338805,7.99569508 L16.4021951,7.99569508 L16.4021951,12.1753031 L13.905609,12.1753031 Z" id="H4" fill="currentColor" /> </g>
			</g>
			<g id="h5" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M11.0177669,15.150091 L11.0177669,6.67287708 L9.21674704,6.67287708 L9.21674704,10.0886043 L5.80101981,10.0886043 L5.80101981,6.67287708 L4,6.67287708 L4,15.150091 L5.80101981,15.150091 L5.80101981,11.5666826 L9.21674704,11.5666826 L9.21674704,15.150091 L11.0177669,15.150091 Z M12.5641597,12.8398173 C12.613843,14.1812666 13.7006653,15.3115618 15.6569455,15.3115618 C17.5759631,15.3115618 18.9670957,14.1315833 18.9670957,12.2684593 C18.9670957,10.5295436 17.6504881,9.467563 16.1724098,9.467563 C15.1725333,9.467563 14.5514919,9.91471274 14.3589691,10.1941813 L14.2906546,10.1941813 L14.4955982,8.1012721 L18.3460544,8.1012721 L18.3460544,6.66666667 L13.0672032,6.66666667 L12.6759472,11.6598388 L14.2596025,11.6598388 C14.4397045,11.2747932 14.8992751,10.8090122 15.7066288,10.8090122 C16.5574554,10.8090122 17.2095488,11.4238431 17.2095488,12.3491947 C17.2095488,13.3242296 16.4580888,13.901798 15.7004184,13.901798 C14.8930647,13.901798 14.3154962,13.4919107 14.2161296,12.8398173 L12.5641597,12.8398173 Z" id="H5" fill="currentColor" /> </g>
			</g>
			<g id="ic-close" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" fill="currentColor" points="19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12" />
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" /> </g>
			</g>
			<g id="ic-search" fill="none">
				<g id="Icon-24px">
					<path d="M15.5,14 L14.71,14 L14.43,13.73 C15.41,12.59 16,11.11 16,9.5 C16,5.91 13.09,3 9.5,3 C5.91,3 3,5.91 3,9.5 C3,13.09 5.91,16 9.5,16 C11.11,16 12.59,15.41 13.73,14.43 L14,14.71 L14,15.5 L19,20.49 L20.49,19 L15.5,14 L15.5,14 Z M9.5,14 C7.01,14 5,11.99 5,9.5 C5,7.01 7.01,5 9.5,5 C11.99,5 14,7.01 14,9.5 C14,11.99 11.99,14 9.5,14 L9.5,14 Z" id="Shape" fill="currentColor" />
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" /> </g>
			</g>
			<g id="image" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M21,19 L21,5 C21,3.9 20.1,3 19,3 L5,3 C3.9,3 3,3.9 3,5 L3,19 C3,20.1 3.9,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,19 Z M8.5,13.5 L11,16.51 L14.5,12 L19,18 L5,18 L8.5,13.5 L8.5,13.5 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="info" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M11,7 L13,7 L13,9 L11,9 L11,7 Z M11,11 L13,11 L13,17 L11,17 L11,11 Z M11.99,2 C6.47,2 2,6.48 2,12 C2,17.52 6.47,22 11.99,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 11.99,2 L11.99,2 Z M12,20 C7.58,20 4,16.42 4,12 C4,7.58 7.58,4 12,4 C16.42,4 20,7.58 20,12 C20,16.42 16.42,20 12,20 L12,20 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="input-field" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19,6 L5,6 C3.9,6 3,6.9 3,8 L3,16 C3,17.1 3.9,18 5,18 L19,18 C20.1,18 21,17.1 21,16 L21,8 C21,6.9 20.1,6 19,6 Z M19,16 L5,16 L5,8 L19,8 L19,16 Z M7,9 L8,9 L8,15 L7,15 L7,9 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="json-input" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19,6 L5,6 C3.9,6 3,6.9 3,8 L3,16 C3,17.1 3.9,18 5,18 L19,18 C20.1,18 21,17.1 21,16 L21,8 C21,6.9 20.1,6 19,6 Z M19,16 L5,16 L5,8 L19,8 L19,16 Z M11.0442648,14.2233401 L8.75350117,11.9283401 L11.0442648,9.63334008 L10.3390297,8.92834008 L7.33802934,11.9283401 L10.3390297,14.9283401 L11.0442648,14.2233401 Z M12.3380293,14.2233401 L14.6280293,11.9283401 L12.3380293,9.63334008 L13.0430293,8.92834008 L16.0430293,11.9283401 L13.0430293,14.9283401 L12.3380293,14.2233401 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="label-text" fill="none">
				<g id="Icon-24px">
					<path d="M4,9 L20,9 L20,11 L4,11 L4,9 Z M4,13 L14,13 L14,15 L4,15 L4,13 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="layers-toggle" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M11.99,18.54 L4.62,12.81 L3,14.07 L12,21.07 L21,14.07 L19.37,12.8 L11.99,18.54 L11.99,18.54 Z M12,16 L19.36,10.27 L21,9 L12,2 L3,9 L4.63,10.27 L12,16 L12,16 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="mobile-view" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M17,1.01 L7,1 C5.9,1 5,1.9 5,3 L5,21 C5,22.1 5.9,23 7,23 L17,23 C18.1,23 19,22.1 19,21 L19,3 C19,1.9 18.1,1.01 17,1.01 L17,1.01 Z M17,19 L7,19 L7,5 L17,5 L17,19 L17,19 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="page-template" fill="none" transform="translate(26,26) rotate(180)">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M15,22 L17,20 L17,17 L20,17 L22,15 L15,15 L15,22 Z M2,22 L12.4,22 L14.5,20 L4,20 L4,4 L20,4 L20,14.5 L22,12.6 L22,2 L2,2 L2,22 Z M14,13.7777778 L7,13.7777778 L7,11.4444444 L9.33333333,11.4444444 L9.33333333,6 L11.6666667,6 L11.6666667,11.4444444 L14,11.4444444 L14,13.7777778 L14,13.7777778 Z" id="Combined-Shape" fill="currentColor" /> </g>
			</g>
			<g id="page-template-2" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M14,2 L6,2 C4.9,2 4.01,2.9 4.01,4 L4,20 C4,21.1 4.89,22 5.99,22 L18,22 C19.1,22 20,21.1 20,20 L20,8 L14,2 L14,2 Z M16,10 L7.9,10 L7.9,12.7 L10.6,12.7 L10.6,19 L13.3,19 L13.3,12.7 L16,12.7 L16,10 L16,10 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="paper-chip" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M16,5 L6,5 C4.9,5 4,5.65 4,6.44444444 L4,16.5555556 C4,17.35 4.9,18 6,18 L16,18 C17.1,18 18,17.35 18,16.5555556 L18,6.44444444 C18,5.65 17.1,5 16,5 Z M5,19 L20,19 L20,20 L5,20 L5,19 Z M19,6 L20,6 L20,19 L19,19 L19,6 Z" id="Combined-Shape" fill="currentColor" /> </g>
			</g>
			<g id="para" fill="none">
				<g id="Icon-24px">
					<path d="M3,21 L14,21 L14,19 L3,19 L3,21 L3,21 Z M3,17 L21,17 L21,15 L3,15 L3,17 L3,17 Z M3,13 L21,13 L21,11 L3,11 L3,13 L3,13 Z M3,9 L21,9 L21,7 L3,7 L3,9 L3,9 Z M3,3 L3,5 L10,5 L10,3 L3,3 L3,3 Z" id="Shape" fill="currentColor" />
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" /> </g>
			</g>
			<g id="personalize" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M19,3 L5,3 C3.89,3 3,3.9 3,5 L3,19 C3,20.1 3.89,21 5,21 L19,21 C20.11,21 21,20.1 21,19 L21,5 C21,3.9 20.11,3 19,3 L19,3 Z M17.25,12 C17.25,12.23 17.23,12.46 17.2,12.68 L18.68,13.84 C18.81,13.95 18.85,14.14 18.76,14.29 L17.36,16.71 C17.27,16.86 17.09,16.92 16.93,16.86 L15.19,16.16 C14.83,16.44 14.43,16.67 14.01,16.85 L13.75,18.7 C13.72,18.87 13.57,19 13.4,19 L10.6,19 C10.43,19 10.28,18.87 10.25,18.71 L9.99,16.86 C9.56,16.68 9.17,16.45 8.81,16.17 L7.07,16.87 C6.91,16.93 6.73,16.87 6.64,16.72 L5.24,14.3 C5.15,14.15 5.19,13.96 5.32,13.85 L6.8,12.69 C6.77,12.46 6.75,12.23 6.75,12 C6.75,11.77 6.77,11.54 6.8,11.32 L5.32,10.16 C5.19,10.05 5.15,9.86 5.24,9.71 L6.64,7.29 C6.73,7.14 6.91,7.08 7.07,7.14 L8.81,7.84 C9.17,7.56 9.57,7.33 9.99,7.15 L10.25,5.3 C10.28,5.13 10.43,5 10.6,5 L13.4,5 C13.57,5 13.72,5.13 13.75,5.29 L14.01,7.14 C14.44,7.32 14.83,7.55 15.19,7.83 L16.93,7.13 C17.09,7.07 17.27,7.13 17.36,7.28 L18.76,9.7 C18.85,9.85 18.81,10.04 18.68,10.15 L17.2,11.31 C17.23,11.54 17.25,11.77 17.25,12 L17.25,12 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="properties" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M22.7,19 L13.6,9.9 C14.5,7.6 14,4.9 12.1,3 C10.1,1 7.1,0.6 4.7,1.7 L9,6 L6,9 L1.6,4.7 C0.4,7.1 0.9,10.1 2.9,12.1 C4.8,14 7.5,14.5 9.8,13.6 L18.9,22.7 C19.3,23.1 19.9,23.1 20.3,22.7 L22.6,20.4 C23.1,20 23.1,19.3 22.7,19 L22.7,19 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="radio-button-checked" fill="none">
				<g id="Icon-24px">
					<polygon id="Bounds" points="0 0 24 0 24 24 0 24" />
					<path d="M12,7 C9.24,7 7,9.24 7,12 C7,14.76 9.24,17 12,17 C14.76,17 17,14.76 17,12 C17,9.24 14.76,7 12,7 L12,7 Z M12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 12,2 L12,2 Z M12,20 C7.58,20 4,16.42 4,12 C4,7.58 7.58,4 12,4 C16.42,4 20,7.58 20,12 C20,16.42 16.42,20 12,20 L12,20 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="radio-button-unchecked" fill="none">
				<g id="Icon-24px">
					<polygon id="Bounds" points="0 0 24 0 24 24 0 24" />
					<path d="M12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 12,2 L12,2 Z M12,20 C7.58,20 4,16.42 4,12 C4,7.58 7.58,4 12,4 C16.42,4 20,7.58 20,12 C20,16.42 16.42,20 12,20 L12,20 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="save" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M17,3 L5,3 C3.89,3 3,3.9 3,5 L3,19 C3,20.1 3.89,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,7 L17,3 L17,3 Z M12,19 C10.34,19 9,17.66 9,16 C9,14.34 10.34,13 12,13 C13.66,13 15,14.34 15,16 C15,17.66 13.66,19 12,19 L12,19 Z M15,9 L5,9 L5,5 L15,5 L15,9 L15,9 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="settings" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19.43,12.98 C19.47,12.66 19.5,12.34 19.5,12 C19.5,11.66 19.47,11.34 19.43,11.02 L21.54,9.37 C21.73,9.22 21.78,8.95 21.66,8.73 L19.66,5.27 C19.54,5.05 19.27,4.97 19.05,5.05 L16.56,6.05 C16.04,5.65 15.48,5.32 14.87,5.07 L14.49,2.42 C14.46,2.18 14.25,2 14,2 L10,2 C9.75,2 9.54,2.18 9.51,2.42 L9.13,5.07 C8.52,5.32 7.96,5.66 7.44,6.05 L4.95,5.05 C4.72,4.96 4.46,5.05 4.34,5.27 L2.34,8.73 C2.21,8.95 2.27,9.22 2.46,9.37 L4.57,11.02 C4.53,11.34 4.5,11.67 4.5,12 C4.5,12.33 4.53,12.66 4.57,12.98 L2.46,14.63 C2.27,14.78 2.22,15.05 2.34,15.27 L4.34,18.73 C4.46,18.95 4.73,19.03 4.95,18.95 L7.44,17.95 C7.96,18.35 8.52,18.68 9.13,18.93 L9.51,21.58 C9.54,21.82 9.75,22 10,22 L14,22 C14.25,22 14.46,21.82 14.49,21.58 L14.87,18.93 C15.48,18.68 16.04,18.34 16.56,17.95 L19.05,18.95 C19.28,19.04 19.54,18.95 19.66,18.73 L21.66,15.27 C21.78,15.05 21.73,14.78 21.54,14.63 L19.43,12.98 L19.43,12.98 Z M12,15.5 C10.07,15.5 8.5,13.93 8.5,12 C8.5,10.07 10.07,8.5 12,8.5 C13.93,8.5 15.5,10.07 15.5,12 C15.5,13.93 13.93,15.5 12,15.5 L12,15.5 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="show-code-toggle" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19,4 L5,4 C3.89,4 3,4.9 3,6 L3,18 C3,19.1 3.89,20 5,20 L19,20 C20.1,20 21,19.1 21,18 L21,6 C21,4.9 20.11,4 19,4 L19,4 Z M20,19 L4,19 L4,8 L20,8 L20,19 L20,19 Z" id="Shape" fill="currentColor" />
					<polygon id="Shape" fill="currentColor" points="10.6619707 16.1058401 7.98941314 13.4283401 10.6619707 10.7508401 9.8391964 9.92834008 6.33802934 13.4283401 9.8391964 16.9283401" />
					<polygon id="Shape" fill="currentColor" transform="translate(15.500000, 13.429150) scale(-1, 1) translate(-15.500000, -13.429150) " points="17.66125 16.1066498 14.9895833 13.4291498 17.66125 10.7516498 16.83875 9.9291498 13.33875 13.4291498 16.83875 16.9291498" /> </g>
			</g>
			<g id="table" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M4,4 L20,4 L20,20 L4,20 L4,4 Z M4.84210526,8 L9.05263158,8 L9.05263158,10.6666667 L4.84210526,10.6666667 L4.84210526,8 Z M9.89473684,8 L14.1052632,8 L14.1052632,10.6666667 L9.89473684,10.6666667 L9.89473684,8 Z M14.9473684,8 L19.1578947,8 L19.1578947,10.6666667 L14.9473684,10.6666667 L14.9473684,8 Z M4.84210526,12 L9.05263158,12 L9.05263158,14.6666667 L4.84210526,14.6666667 L4.84210526,12 Z M9.89473684,12 L14.1052632,12 L14.1052632,14.6666667 L9.89473684,14.6666667 L9.89473684,12 Z M14.9473684,12 L19.1578947,12 L19.1578947,14.6666667 L14.9473684,14.6666667 L14.9473684,12 Z M14.9473684,16 L19.1578947,16 L19.1578947,18.6666667 L14.9473684,18.6666667 L14.9473684,16 Z M9.89473684,16 L14.1052632,16 L14.1052632,18.6666667 L9.89473684,18.6666667 L9.89473684,16 Z M4.84210526,16 L9.05263158,16 L9.05263158,18.6666667 L4.84210526,18.6666667 L4.84210526,16 Z" id="Combined-Shape" fill="currentColor" /> </g>
			</g>
			<g id="text-area" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19,3 L5,3 C3.9,3 3,3.9 3,5 L3,19 C3,20.1 3.9,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,5 C21,3.9 20.1,3 19,3 L19,3 Z M19,19 L5,19 L5,5 L19,5 L19,19 Z M15.9356602,11 L16.642767,11.7071068 L11.7071068,16.642767 L11,15.9356602 L15.9356602,11 Z M16.8284271,14 L17.5355339,14.7071068 L14.7071068,17.5355339 L14,16.8284271 L16.8284271,14 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="time" fill="none">
				<g id="Icon-24px">
					<path d="M11.99,2 C6.47,2 2,6.48 2,12 C2,17.52 6.47,22 11.99,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 11.99,2 L11.99,2 Z M12,20 C7.58,20 4,16.42 4,12 C4,7.58 7.58,4 12,4 C16.42,4 20,7.58 20,12 C20,16.42 16.42,20 12,20 L12,20 Z" id="Shape" fill="currentColor" />
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<polygon id="Shape" fill="currentColor" points="12.5 7 11 7 11 13 16.25 16.15 17 14.92 12.5 12.25" /> </g>
			</g>
			<g id="type-ahead" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M5,15 C3.9,15 3,14.175 3,13.1666667 L3,5.83333333 C3,4.825 3.9,4 5,4 L19,4 C20.1,4 21,4.825 21,5.83333333 L21,13.1666667 C21,14.175 20.1,15 19,15 L19,21 L5,21 L5,15 Z M5,15 L19,15 L19,6 L5,6 L5,15 Z M7,7 L8,7 L8,13 L7,13 L7,7 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="v-box" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M19,6 L5,6 C3.9,6 3,6.9 3,8 L3,16 C3,17.1 3.9,18 5,18 L19,18 C20.1,18 21,17.1 21,16 L21,8 C21,6.9 20.1,6 19,6 Z M19,16 L5,16 L5,8 L19,8 L19,16 Z" id="Shape" fill="currentColor" transform="translate(12.000000, 12.000000) rotate(90.000000) translate(-12.000000, -12.000000) " /> </g>
			</g>
			<g id="warning" fill="none">
				<g id="Icon-24px">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M1,21 L23,21 L12,2 L1,21 L1,21 Z M13,18 L11,18 L11,16 L13,16 L13,18 L13,18 Z M13,14 L11,14 L11,10 L13,10 L13,14 L13,14 Z" id="Shape" fill="currentColor" /> </g>
			</g>
			<g id="paper-button">
				<g id="Icon-24px" fill="none">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
					<path d="M5,6 C3.9,6 3,6.9 3,8 L3,17 C3,18.1 3.9,19 5,19 L19,19 C20.1,19 21,18.1 21,17 L21,8 C21,6.9 20.1,6 19,6 L5,6 Z M19,17 L5,17 L5,8 L19,8 L19,17 Z M8,11 L16,11 L16,13 L8,13 L8,11 Z M0,20 C0,21.1 0.9,22 2,22 L16,22 L16,20 L2,20 L2,11 L0,11 L0,20 Z" id="Shape" fill="currentColor"></path>
				</g>
			</g>
			<g id="iron-icon" fill="transparent">
				<path d="M4.63636364,3 C3.73636364,3 3,3.9 3,5 L3,17 C3,18.1 3.73636364,19 4.63636364,19 L7.90909091,19 L7.90909091,17 L4.63636364,17 L4.63636364,5 L19.3636364,5 L19.3636364,17 L16.0909091,17 L16.0909091,19 L19.3636364,19 C20.2636364,19 21,18.1 21,17 L21,5 C21,3.9 20.2636364,3 19.3636364,3 L4.63636364,3 Z" id="Shape" fill="currentColor"></path>
				<polygon id="Path" fill="currentColor" points="11 7 13 7 13 9 11 9"></polygon>
				<polygon id="Path" fill="currentColor" points="11 11 13 11 13 17 11 17"></polygon>
			</g>
			<g id="oe-ajax" fill="transparent">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M6.52564925,10 L6.50537796,12.118 L8.55975008,12.118 C9.7246501,12.118 10.6777501,13.0711 10.6777501,14.2360001 C10.6777501,15.4009001 9.7246501,16.3540001 8.55975008,16.3540001 L6.17700005,16.3540001 L6.17700005,14.2360001 L3,17.4130001 L6.17700005,20.5900002 L6.17700005,18.4720001 L8.29500008,18.4720001 C10.6353901,18.4720001 12.5310001,16.5763901 12.5310001,14.2360001 C12.5310001,11.89561 10.6353901,10 8.29500008,10 L6.52564925,10 Z" id="Path" fill="currentColor" transform="translate(7.765500, 15.295000) scale(-1, 1) translate(-7.765500, -15.295000) "></path>
				<path d="M15.0213013,4 L15.001709,6.11764706 L17.0294118,6.11764706 C18.1941176,6.11764706 19.1470588,7.07058824 19.1470588,8.23529412 C19.1470588,9.4 18.1941176,10.3529412 17.0294118,10.3529412 L14.6470588,10.3529412 L14.6470588,8.23529412 L11.4705882,11.4117647 L14.6470588,14.5882353 L14.6470588,12.4705882 L16.7647059,12.4705882 C19.1047059,12.4705882 21,10.5752941 21,8.23529412 C21,5.89529412 19.1047059,4 16.7647059,4 L15.0213013,4 Z" id="Path" fill="currentColor" transform="translate(16.235294, 9.294118) scale(1, -1) translate(-16.235294, -9.294118) "></path>
			</g>
			<!-- Style panel icons - border -->
			<g id="style-radius" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M4,4 L4,9.33333333 L11.6670194,9.33333333 C13.3236788,9.33333333 14.6666667,10.684274 14.6666667,12.3329806 L14.6666667,20 L20,20 L20,12 C20,7.581722 16.4092877,4 12,4 L4,4 Z" id="Shape" fill="currentColor"></path>
			</g>
			<g id="style-radius-all" fill="none">
				<polygon id="path-1" points="24 0 24 24 0 24 0 0"></polygon>
				<path d="M3,5 L3,9 L5,9 L5,5 L9,5 L9,3 L5,3 C3.9,3 3,3.9 3,5 L3,5 Z M5,15 L3,15 L3,19 C3,20.1 3.9,21 5,21 L9,21 L9,19 L5,19 L5,15 L5,15 Z M19,19 L15,19 L15,21 L19,21 C20.1,21 21,20.1 21,19 L21,15 L19,15 L19,19 L19,19 Z M19,3 L15,3 L15,5 L19,5 L19,9 L21,9 L21,5 C21,3.9 20.1,3 19,3 L19,3 Z" id="Shape" fill="currentColor"></path>
			</g>
			<g id="style-radius-bottom-left" fill="none">
				<polygon id="path-1" points="24 0 24 24 0 24 0 0"></polygon>
				<path d="M19,19 L21,19 L21,21 L19,21 L19,19 L19,19 Z M19,17 L21,17 L21,15 L19,15 L19,17 L19,17 Z M3,5 L5,5 L5,3 L3,3 L3,5 L3,5 Z M7,5 L9,5 L9,3 L7,3 L7,5 L7,5 Z M15,21 L17,21 L17,19 L15,19 L15,21 L15,21 Z M15,21 L17,21 L17,19 L15,19 L15,21 L15,21 Z M21,8 C21,5.24 18.76,3 16,3 L11,3 L11,5 L16,5 C17.65,5 19,6.35 19,8 L19,13 L21,13 L21,8 L21,8 Z" id="Shape" fill="currentColor" transform="translate(12.000000, 12.000000) scale(-1, -1) translate(-12.000000, -12.000000) "></path>
			</g>
			<g id="style-radius-bottom-right" fill="none">
				<polygon id="path-1" points="24 0 24 24 0 24 0 0"></polygon>
				<path d="M19,19 L21,19 L21,21 L19,21 L19,19 L19,19 Z M19,17 L21,17 L21,15 L19,15 L19,17 L19,17 Z M3,5 L5,5 L5,3 L3,3 L3,5 L3,5 Z M7,5 L9,5 L9,3 L7,3 L7,5 L7,5 Z M15,21 L17,21 L17,19 L15,19 L15,21 L15,21 Z M15,21 L17,21 L17,19 L15,19 L15,21 L15,21 Z M21,8 C21,5.24 18.76,3 16,3 L11,3 L11,5 L16,5 C17.65,5 19,6.35 19,8 L19,13 L21,13 L21,8 L21,8 Z" id="Shape" fill="currentColor" transform="translate(12.000000, 12.000000) scale(1, -1) translate(-12.000000, -12.000000) "></path>
			</g>
			<g id="style-radius-top-left" fill="none">
				<polygon id="path-1" points="24 0 24 24 0 24 0 0"></polygon>
				<path d="M19,19 L21,19 L21,21 L19,21 L19,19 L19,19 Z M19,17 L21,17 L21,15 L19,15 L19,17 L19,17 Z M3,5 L5,5 L5,3 L3,3 L3,5 L3,5 Z M7,5 L9,5 L9,3 L7,3 L7,5 L7,5 Z M15,21 L17,21 L17,19 L15,19 L15,21 L15,21 Z M15,21 L17,21 L17,19 L15,19 L15,21 L15,21 Z M21,8 C21,5.24 18.76,3 16,3 L11,3 L11,5 L16,5 C17.65,5 19,6.35 19,8 L19,13 L21,13 L21,8 L21,8 Z" id="Shape" fill="currentColor" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
			</g>
			<g id="style-radius-top-right" fill="none">
				<polygon id="path-1" points="24 0 24 24 0 24 0 0"></polygon>
				<path d="M19,19 L21,19 L21,21 L19,21 L19,19 L19,19 Z M19,17 L21,17 L21,15 L19,15 L19,17 L19,17 Z M3,5 L5,5 L5,3 L3,3 L3,5 L3,5 Z M7,5 L9,5 L9,3 L7,3 L7,5 L7,5 Z M15,21 L17,21 L17,19 L15,19 L15,21 L15,21 Z M15,21 L17,21 L17,19 L15,19 L15,21 L15,21 Z M21,8 C21,5.24 18.76,3 16,3 L11,3 L11,5 L16,5 C17.65,5 19,6.35 19,8 L19,13 L21,13 L21,8 L21,8 Z" id="Shape" fill="currentColor"></path>
			</g>
			<g id="style-border-style-solid" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<polygon id="Path" fill="currentColor" points="1.33333333 10.6666667 1.33333333 13.3333333 22.6666667 13.3333333 22.6666667 10.6666667"></polygon>
			</g>
			<g id="style-border-style-dashed" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<polygon id="Path" fill="currentColor" points="2.66666667 10.6666667 2.66666667 13.3333333 10.6666667 13.3333333 10.6666667 10.6666667"></polygon>
				<polygon id="Path" fill="currentColor" points="13.3333333 10.6666667 13.3333333 13.3333333 21.3333333 13.3333333 21.3333333 10.6666667"></polygon>
			</g>
			<g id="style-border-style-dotted" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<polygon id="Path" fill="currentColor" points="8 10.6666667 8 13.3333333 10.6666667 13.3333333 10.6666667 10.6666667"></polygon>
				<polygon id="Path" fill="currentColor" points="2.66666667 10.6666667 2.66666667 13.3333333 5.33333333 13.3333333 5.33333333 10.6666667"></polygon>
				<polygon id="Path" fill="currentColor" points="13.3333333 10.6666667 13.3333333 13.3333333 16 13.3333333 16 10.6666667"></polygon>
				<polygon id="Path" fill="currentColor" points="18.6666667 10.6666667 18.6666667 13.3333333 21.3333333 13.3333333 21.3333333 10.6666667"></polygon>
			</g>
			<!-- Style panel icons - typography -->
			<g id="style-tg-font-family" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M2,16.7954545 L2.87662338,16.6737013 L7.00811688,6 L8.37987013,6 L12.4383117,16.6737013 L13.3068182,16.7954545 L13.3068182,17.8181818 L9.91396104,17.8181818 L9.91396104,16.7954545 L10.8068182,16.6412338 L10.0275974,14.4659091 L5.29545455,14.4659091 L4.49188312,16.6412338 L5.38474026,16.7954545 L5.38474026,17.8181818 L2,17.8181818 L2,16.7954545 Z M5.79058442,13.1266234 L9.54058442,13.1266234 L7.70616883,8.05357143 L7.65746753,8.05357143 L5.79058442,13.1266234 Z M19.987013,17.8181818 C19.9004325,17.6504321 19.8246756,17.3771664 19.7597403,16.9983766 C19.1320315,17.6531418 18.3636409,17.9805195 17.4545455,17.9805195 C16.5725064,17.9805195 15.8528166,17.7288986 15.2954545,17.2256494 C14.7380925,16.7224001 14.4594156,16.1001119 14.4594156,15.3587662 C14.4594156,14.4226144 14.8070853,13.7042774 15.5024351,13.2037338 C16.1977849,12.7031901 17.1920931,12.4529221 18.4853896,12.4529221 L19.6948052,12.4529221 L19.6948052,11.8766234 C19.6948052,11.4220756 19.567642,11.0581724 19.3133117,10.7849026 C19.0589814,10.5116328 18.6720805,10.375 18.1525974,10.375 C17.703461,10.375 17.3354993,10.4872824 17.0487013,10.7118506 C16.7619033,10.9364189 16.6185065,11.2218597 16.6185065,11.5681818 L14.6461039,11.5681818 C14.6461039,11.0865777 14.8057343,10.6360952 15.125,10.2167208 C15.4442657,9.79734639 15.8785146,9.46861591 16.4277597,9.23051948 C16.9770049,8.99242305 17.5898235,8.87337662 18.2662338,8.87337662 C19.2943774,8.87337662 20.1141744,9.13176149 20.7256494,9.64853896 C21.3371243,10.1653164 21.6509739,10.8917702 21.6672078,11.8279221 L21.6672078,15.788961 C21.6672078,16.5790083 21.7781374,17.2094132 22,17.6801948 L22,17.8181818 L19.987013,17.8181818 Z M17.8198052,16.3977273 C18.2094175,16.3977273 18.5760264,16.3030313 18.9196429,16.1136364 C19.2632593,15.9242415 19.5216442,15.669915 19.6948052,15.3506494 L19.6948052,13.6948052 L18.6314935,13.6948052 C17.9009704,13.6948052 17.3517334,13.8219684 16.9837662,14.0762987 C16.615799,14.330629 16.4318182,14.6904739 16.4318182,15.1558442 C16.4318182,15.5346339 16.5576286,15.8363084 16.8092532,16.0608766 C17.0608779,16.2854448 17.3977252,16.3977273 17.8198052,16.3977273 Z" id="Aa" fill="currentColor"></path>
			</g>
			<g id="style-tg-font-size" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M8.55456537,17.4865191 C8.46756244,17.317951 8.39143602,17.0433521 8.32618382,16.6627143 C7.6954126,17.3206739 6.9232732,17.6496488 6.00974247,17.6496488 C5.12340015,17.6496488 4.40019916,17.3968004 3.84011782,16.8910958 C3.28003647,16.3853913 3,15.7600672 3,15.0151046 C3,14.0743854 3.34936589,13.3525439 4.04810815,12.8495582 C4.74685041,12.3465725 5.74600966,12.0950835 7.04561589,12.0950835 L8.26093195,12.0950835 L8.26093195,11.5159731 C8.26093195,11.0592077 8.13314832,10.6935291 7.87757722,10.4189261 C7.62200612,10.1443231 7.23321762,10.0070236 6.71120006,10.0070236 C6.25987238,10.0070236 5.89011548,10.1198539 5.60191828,10.3455177 C5.31372109,10.5711816 5.16962465,10.858015 5.16962465,11.2060267 L3.18759912,11.2060267 C3.18759912,10.722073 3.34800836,10.2693926 3.66883166,9.84797221 C3.98965495,9.42655178 4.42602247,9.09621749 4.97794728,8.85695944 C5.5298721,8.61770139 6.14568046,8.49807416 6.82539083,8.49807416 C7.85855059,8.49807416 8.6823472,8.75771963 9.29680538,9.27701835 C9.91126355,9.79631707 10.2266444,10.5263151 10.2429575,11.4670342 L10.2429575,15.4473982 C10.2429575,16.2412999 10.3544283,16.8747805 10.5773733,17.3478589 L10.5773733,17.4865191 L8.55456537,17.4865191 Z M6.37678423,16.0591345 C6.7682974,16.0591345 7.1366949,15.9639765 7.48198777,15.7736576 C7.82728063,15.5833387 8.0869261,15.3277714 8.26093195,15.0069481 L8.26093195,13.3430255 L7.1924326,13.3430255 C6.4583454,13.3430255 5.90642886,13.4708091 5.53666641,13.7263802 C5.16690397,13.9819513 4.98202553,14.3435518 4.98202553,14.8111925 C4.98202553,15.1918303 5.10844976,15.4949766 5.36130202,15.7206404 C5.61415427,15.9463043 5.95264496,16.0591345 6.37678423,16.0591345 Z M18.6400574,17.4865191 C18.538554,17.2898563 18.4497398,16.9694909 18.3736123,16.5254135 C17.6377125,17.2930331 16.7368832,17.6768371 15.6710973,17.6768371 C14.6370313,17.6768371 13.7932968,17.3818472 13.1398686,16.7918586 C12.4864404,16.20187 12.1597311,15.4723252 12.1597311,14.6032022 C12.1597311,13.5056965 12.5673247,12.663548 13.382524,12.0767314 C14.1977233,11.4899147 15.3634091,11.1965108 16.8796163,11.1965108 L18.2974851,11.1965108 L18.2974851,10.5208821 C18.2974851,9.98798918 18.1484042,9.56136404 17.8502379,9.24099388 C17.5520716,8.92062373 17.098485,8.76044105 16.4894645,8.76044105 C15.9629156,8.76044105 15.5315325,8.89207632 15.1953025,9.1553508 C14.8590724,9.41862529 14.6909599,9.75326434 14.6909599,10.159278 L12.3785968,10.159278 C12.3785968,9.59466525 12.5657409,9.06653822 12.9400347,8.57488105 C13.3143286,8.08322388 13.823424,7.69783389 14.4673363,7.41869949 C15.1112486,7.1395651 15.8296917,7 16.6226871,7 C17.8280402,7 18.7891362,7.30291971 19.5060041,7.90876822 C20.2228719,8.51461673 20.5908163,9.36628105 20.6098482,10.4637867 L20.6098482,15.1075447 C20.6098482,16.0337634 20.7398975,16.7728241 21,17.3247489 L21,17.4865191 L18.6400574,17.4865191 Z M16.0993127,15.8212371 C16.5560781,15.8212371 16.9858752,15.7102194 17.3887169,15.4881807 C17.7915585,15.2661419 18.0944783,14.9679801 18.2974851,14.5936863 L18.2974851,12.6524432 L17.0509025,12.6524432 C16.1944674,12.6524432 15.5505648,12.8015241 15.1191753,13.0996904 C14.6877858,13.3978566 14.4720943,13.8197239 14.4720943,14.3653047 C14.4720943,14.8093822 14.6195892,15.1630528 14.9145835,15.4263273 C15.2095778,15.6896018 15.6044836,15.8212371 16.0993127,15.8212371 Z" id="aa" fill="currentColor"></path>
			</g>
			<g id="style-tg-font-weight" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M6.15317559,13.4495641 L6.36239103,14.8841843 L6.66874222,13.5915318 L8.82067248,6 L10.0311333,6 L12.1307597,13.5915318 L12.4296389,14.9066002 L12.6612702,13.4420922 L14.3499377,6 L15.7920299,6 L13.1544209,16.879203 L11.8468244,16.879203 L9.60523039,8.95143213 L9.43337484,8.12204234 L9.2615193,8.95143213 L6.9377335,16.879203 L5.63013699,16.879203 L3,6 L4.43462017,6 L6.15317559,13.4495641 Z M19.5354919,6.80697385 L19.5354919,8.79452055 L20.9178082,8.79452055 L20.9178082,10.3785803 L19.5354919,10.3785803 L19.5354919,14.4134496 C19.5354919,14.7123303 19.5927765,14.9265249 19.7073474,15.0560399 C19.8219184,15.1855548 20.0410943,15.2503113 20.3648817,15.2503113 C20.6039863,15.2503113 20.8156902,15.2328769 21,15.1980075 L21,16.8343711 C20.5765857,16.9638861 20.1407245,17.0286426 19.6924035,17.0286426 C18.1780746,17.0286426 17.4059777,16.2640176 17.3760897,14.7347447 L17.3760897,10.3785803 L16.1955168,10.3785803 L16.1955168,8.79452055 L17.3760897,8.79452055 L17.3760897,6.80697385 L19.5354919,6.80697385 Z" id="Wt" fill="currentColor"></path>
			</g>
			<g id="style-tg-letter-spacing" fill="none">
				<polygon id="Shape" points="24 0 24 24 0 24 0 0"></polygon>
				<path d="M18,14 L20,14 L20,20 L4,20 L4,14 L6,14 L6,18 L18,18 L18,14 Z M5.46053252,11.3546183 L9.2763902,11.3546183 L9.2763902,12.5207352 L4,12.5207352 L4,4.11545712 L5.46053252,4.11545712 L5.46053252,11.3546183 Z M18.5394675,10.3559142 C18.5394675,9.98644961 18.4095795,9.70165824 18.1497997,9.50153157 C17.8900199,9.30140491 17.4214611,9.09935697 16.7441093,8.89538172 C16.0667575,8.69140646 15.527963,8.46434307 15.1277097,8.21418473 C14.3618403,7.73311101 13.9789114,7.10580029 13.9789114,6.33223374 C13.9789114,5.65488194 14.2550436,5.0968448 14.8073162,4.65810556 C15.3595888,4.21936633 16.0763779,4 16.957705,4 C17.5426906,4 18.0641667,4.1077589 18.5221489,4.32327992 C18.9801311,4.53880095 19.3399688,4.84572138 19.601673,5.24405042 C19.8633771,5.64237947 19.9942271,6.08399852 19.9942271,6.56892083 L18.5394675,6.56892083 C18.5394675,6.1301816 18.4018825,5.78670011 18.1267083,5.53846607 C17.8515341,5.29023203 17.4580217,5.16611687 16.9461593,5.16611687 C16.4689342,5.16611687 16.0985129,5.26810297 15.8348845,5.47207823 C15.5712561,5.67605349 15.4394439,5.96084486 15.4394439,6.32646089 C15.4394439,6.63434807 15.5818396,6.89123758 15.8666352,7.09713713 C16.1514309,7.30303669 16.6209518,7.50316035 17.2752121,7.69751414 C17.9294723,7.89186792 18.4547969,8.11315851 18.8512017,8.36139255 C19.2476064,8.60962659 19.5381706,8.89441797 19.7229029,9.21577521 C19.9076352,9.53713246 20,9.91332647 20,10.3443685 C20,11.0448119 19.7315649,11.6018869 19.1946866,12.0156103 C18.6578083,12.4293337 17.9294737,12.6361923 17.0096607,12.6361923 C16.4015835,12.6361923 15.8425842,12.5236227 15.3326461,12.2984802 C14.8227079,12.0733377 14.4263091,11.7625687 14.1434378,11.366164 C13.8605664,10.9697592 13.7191329,10.5079354 13.7191329,9.98067861 L15.1796654,9.98067861 C15.1796654,10.4579037 15.3374552,10.8273628 15.6530396,11.0890669 C15.9686239,11.350771 16.4208265,11.4816211 17.0096607,11.4816211 C17.5176745,11.4816211 17.8996414,11.3786729 18.1555726,11.1727733 C18.4115038,10.9668738 18.5394675,10.6945901 18.5394675,10.3559142 Z" id="Combined-Shape" fill="currentColor"></path>
			</g>
			<g id="style-tg-line-height" fill="none">
				<path d="M6,7 L8.5,7 L5,3.5 L1.5,7 L4,7 L4,17 L1.5,17 L5,20.5 L8.5,17 L6,17 L6,7 L6,7 Z M10,5 L10,7 L22,7 L22,5 L10,5 L10,5 Z M10,19 L22,19 L22,17 L10,17 L10,19 L10,19 Z M10,13 L22,13 L22,11 L10,11 L10,13 L10,13 Z" id="Shape" fill="currentColor"></path>
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
			</g>
			<g id="style-tg-trans-lower" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M8.90701627,5.33333333 L8.90701627,7.86792911 L10.8977907,7.86792911 L10.8977907,9.28574897 L8.90701627,9.28574897 L8.90701627,15.6659383 C8.90701627,16.1579696 9.00898174,16.5043285 9.21291576,16.7050255 C9.41684977,16.9057225 9.68713921,17.0060694 10.0237922,17.0060694 C10.1921187,17.0060694 10.3814831,16.9915029 10.5918912,16.9623695 C10.8022993,16.9332361 10.9787158,16.9024846 11.1211459,16.8701141 L11.3833455,18.1811119 C11.2020708,18.2976456 10.9366369,18.3931371 10.5870357,18.4675892 C10.2374345,18.5420413 9.8878386,18.5792668 9.53823744,18.5792668 C8.76134596,18.5792668 8.1430791,18.3445844 7.68341831,17.8752124 C7.22375751,17.4058405 6.99393057,16.6694232 6.99393057,15.6659383 L6.99393057,9.28574897 L5.33333333,9.28574897 L5.33333333,7.86792911 L6.99393057,7.86792911 L6.99393057,5.33333333 L8.90701627,5.33333333 Z M16.1903375,5.33333333 L16.1903375,7.86792911 L18.1811119,7.86792911 L18.1811119,9.28574897 L16.1903375,9.28574897 L16.1903375,15.6659383 C16.1903375,16.1579696 16.2923029,16.5043285 16.496237,16.7050255 C16.700171,16.9057225 16.9704604,17.0060694 17.3071134,17.0060694 C17.4754399,17.0060694 17.6648043,16.9915029 17.8752124,16.9623695 C18.0856205,16.9332361 18.262037,16.9024846 18.4044671,16.8701141 L18.6666667,18.1811119 C18.485392,18.2976456 18.219958,18.3931371 17.8703569,18.4675892 C17.5207557,18.5420413 17.1711598,18.5792668 16.8215586,18.5792668 C16.0446672,18.5792668 15.4264003,18.3445844 14.9667395,17.8752124 C14.5070787,17.4058405 14.2772518,16.6694232 14.2772518,15.6659383 L14.2772518,9.28574897 L12.6166545,9.28574897 L12.6166545,7.86792911 L14.2772518,7.86792911 L14.2772518,5.33333333 L16.1903375,5.33333333 Z" id="tt" fill="currentColor"></path>
			</g>
			<g id="style-tg-trans-capitalize" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M14.005168,5.33333333 L14.005168,7.99586563 L12.6160207,7.99586563 L12.4919897,6.61498708 L9.82118863,6.61498708 L9.82118863,16.0992248 L11.1689922,16.3307494 L11.1689922,17.3726098 L6.84444444,17.3726098 L6.84444444,16.3307494 L8.19224806,16.0992248 L8.19224806,6.61498708 L5.51317829,6.61498708 L5.39741602,7.99586563 L4,7.99586563 L4,5.33333333 L14.005168,5.33333333 Z M17.8914729,6.26770026 L17.8914729,8.42583979 L19.5865633,8.42583979 L19.5865633,9.63307494 L17.8914729,9.63307494 L17.8914729,15.0656331 C17.8914729,15.4845844 17.9782937,15.7794996 18.151938,15.9503876 C18.3255823,16.1212756 18.5557264,16.2067183 18.8423773,16.2067183 C18.9857027,16.2067183 19.1469414,16.1943154 19.3260982,16.169509 C19.505255,16.1447027 19.6554688,16.1185187 19.7767442,16.0909561 L20,17.2072351 C19.8456495,17.3064604 19.6196397,17.3877688 19.3219638,17.4511628 C19.0242879,17.5145567 18.7266165,17.5462532 18.4289406,17.5462532 C17.7674386,17.5462532 17.2410011,17.3464275 16.8496124,16.94677 C16.4582237,16.5471126 16.2625323,15.9200732 16.2625323,15.0656331 L16.2625323,9.63307494 L14.8485788,9.63307494 L14.8485788,8.42583979 L16.2625323,8.42583979 L16.2625323,6.26770026 L17.8914729,6.26770026 Z" id="Tt" fill="currentColor"></path>
			</g>
			<g id="style-tg-trans-upper" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M11.6175299,5.33333333 L11.6175299,8.07011952 L10.1896414,8.07011952 L10.0621514,6.65073041 L7.31686587,6.65073041 L7.31686587,16.3994688 L8.70225764,16.6374502 L8.70225764,17.7083665 L4.25710491,17.7083665 L4.25710491,16.6374502 L5.64249668,16.3994688 L5.64249668,6.65073041 L2.88871182,6.65073041 L2.76972112,8.07011952 L1.33333333,8.07011952 L1.33333333,5.33333333 L11.6175299,5.33333333 Z M22.6666667,5.33333333 L22.6666667,8.07011952 L21.2387782,8.07011952 L21.1112882,6.65073041 L18.3660027,6.65073041 L18.3660027,16.3994688 L19.7513944,16.6374502 L19.7513944,17.7083665 L15.3062417,17.7083665 L15.3062417,16.6374502 L16.6916335,16.3994688 L16.6916335,6.65073041 L13.9378486,6.65073041 L13.8188579,8.07011952 L12.3824701,8.07011952 L12.3824701,5.33333333 L22.6666667,5.33333333 Z" id="TT" fill="currentColor"></path>
			</g>
			<!-- Style panel icons - overflow -->
			<g id="style-overflow-auto" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M21,3 L3,3 C1.9,3 1,3.9 1,5 L1,19 C1,20.1 1.9,21 3,21 L21,21 C22.1,21 23,20.1 23,19 L23,5 C23,3.9 22.1,3 21,3 L21,3 Z M3,19 L3,5 L21,5 L21,19 L3,19 Z M15.4639869,17.0141972 L17.2347309,17.0141972 L12.9053042,6 L11.3294267,6 L7,17.0141972 L8.77074401,17.0141972 L9.71965946,14.4724594 L14.4981266,14.4724594 L15.4639869,17.0141972 L15.4639869,17.0141972 Z M10.3635664,12.7779675 L12.1173655,8.10116993 L13.8711646,12.7779675 L10.3635664,12.7779675 L10.3635664,12.7779675 Z" id="Shape" fill="currentColor"></path>
			</g>
			<g id="style-overflow-scroll" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M21,3 L3,3 C1.9,3 1,3.9 1,5 L1,19 C1,20.1 1.9,21 3,21 L21,21 C22.1,21 23,20.1 23,19 L23,5 C23,3.9 22.1,3 21,3 L21,3 Z M3,19 L3,5 L17,5 L17,19 L3,19 Z M19,19 L19,5 L21,5 L21,19 L19,19 Z" id="Shape" fill="currentColor"></path>
			</g>
			<!-- Style panel icons - position -->
			<g id="style-position-absolute" fill="none">
				<path d="M0,0 L24,0 L24,24 L0,24 L0,0 L0,0 Z M24,24 L0,24 L0,0 L24,0 L24,24 L24,24 Z" id="Shape"></path>
				<path d="M23,15 L21,15 L21,17 L23,17 L23,15 L23,15 Z M23,11 L21,11 L21,13 L23,13 L23,11 L23,11 Z M23,19 L21,19 L21,21 C22,21 23,20 23,19 L23,19 Z M15,3 L13,3 L13,5 L15,5 L15,3 L15,3 Z M23,7 L21,7 L21,9 L23,9 L23,7 L23,7 Z M3,7 L1,7 L1,9 L3,9 L3,7 L3,7 Z M21,3 L21,5 L23,5 C23,4 22,3 21,3 L21,3 Z M19,3 L17,3 L17,5 L19,5 L19,3 L19,3 Z M19,19 L17,19 L17,21 L19,21 L19,19 L19,19 Z M3,3 C2,3 1,4 1,5 L3,5 L3,3 L3,3 Z M11,3 L9,3 L9,5 L11,5 L11,3 L11,3 Z M7,3 L5,3 L5,5 L7,5 L7,3 L7,3 Z M10,18.4545455 C7.53727273,18.4545455 5.54545455,16.4627273 5.54545455,14 C5.54545455,11.5372727 7.53727273,9.54545455 10,9.54545455 C12.4627273,9.54545455 14.4545455,11.5372727 14.4545455,14 C14.4545455,16.4627273 12.4627273,18.4545455 10,18.4545455 L10,18.4545455 Z M15.6890909,13.3636364 C15.3963636,10.71 13.29,8.60363636 10.6363636,8.31090909 L10.6363636,7 L9.36363636,7 L9.36363636,8.31090909 C6.71,8.60363636 4.60363636,10.71 4.31090909,13.3636364 L3,13.3636364 L3,14.6363636 L4.31090909,14.6363636 C4.60363636,17.29 6.71,19.3963636 9.36363636,19.6890909 L9.36363636,21 L10.6363636,21 L10.6363636,19.6890909 C13.29,19.3963636 15.3963636,17.29 15.6890909,14.6363636 L17,14.6363636 L17,13.3636364 L15.6890909,13.3636364 L15.6890909,13.3636364 Z" id="Shape" fill="currentColor"></path>
			</g>
			<g id="style-position-relative" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M18,4.66666667 L18,6.66666667 L4,6.66666667 L4,19.3333333 L2,19.3333333 L2,6.66666667 C2,5.56666667 2.9,4.66666667 4,4.66666667 L18,4.66666667 Z M8,8.66666667 L20,8.66666667 C21.1,8.66666667 22,9.56666667 22,10.6666667 L22,18.6666667 C22,19.7666667 21.1,20.6666667 20,20.6666667 L8,20.6666667 C6.9,20.6666667 6,19.7666667 6,18.6666667 L6,10.6666667 C6,9.56666667 6.9,8.66666667 8,8.66666667 Z" id="Combined-Shape" fill="currentColor"></path>
			</g>
			<g id="style-position-static" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M20.94,11 C20.48,6.83 17.17,3.52 13,3.06 L13,1 L11,1 L11,3.06 C6.83,3.52 3.52,6.83 3.06,11 L1,11 L1,13 L3.06,13 C3.52,17.17 6.83,20.48 11,20.94 L11,23 L13,23 L13,20.94 C17.17,20.48 20.48,17.17 20.94,13 L23,13 L23,11 L20.94,11 L20.94,11 Z M12,19 C8.13,19 5,15.87 5,12 C5,8.13 8.13,5 12,5 C15.87,5 19,8.13 19,12 C19,15.87 15.87,19 12,19 L12,19 Z M14.3301042,15.8106888 L13.6290275,13.7739624 L10.4241056,13.7739624 L9.72302891,15.8106888 L7.82010653,15.8106888 L11.0250284,6.64541979 L13.0281046,6.64541979 L16.2330265,15.8106888 L14.3301042,15.8106888 L14.3301042,15.8106888 Z M10.8747977,12.399172 L13.1783353,12.399172 L12.0265665,8.68214624 L10.8747977,12.399172 L10.8747977,12.399172 Z" id="Shape" fill="currentColor"></path>
			</g>
			<g id="style-position-fixed" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M19.7777778,3 L4.22222222,3 C3,3 2,4.15714286 2,5.57142857 L2,18.4285714 C2,19.8428571 3,21 4.22222222,21 L19.7777778,21 C21,21 22,19.8428571 22,18.4285714 L22,5.57142857 C22,4.15714286 21,3 19.7777778,3 L19.7777778,3 Z M20,19 L4,19 L4,5 L20,5 L20,19 L20,19 Z M8.18181818,12 C8.18181818,9.88909091 9.88909091,8.18181818 12,8.18181818 C14.1109091,8.18181818 15.8181818,9.88909091 15.8181818,12 C15.8181818,14.1109091 14.1109091,15.8181818 12,15.8181818 C9.88909091,15.8181818 8.18181818,14.1109091 8.18181818,12 Z M16.8763636,11.4545455 C16.6254545,9.18 14.82,7.37454545 12.5454545,7.12363636 L12.5454545,6 L11.4545455,6 L11.4545455,7.12363636 C9.18,7.37454545 7.37454545,9.18 7.12363636,11.4545455 L6,11.4545455 L6,12.5454545 L7.12363636,12.5454545 C7.37454545,14.82 9.18,16.6254545 11.4545455,16.8763636 L11.4545455,18 L12.5454545,18 L12.5454545,16.8763636 C14.82,16.6254545 16.6254545,14.82 16.8763636,12.5454545 L18,12.5454545 L18,11.4545455 L16.8763636,11.4545455 L16.8763636,11.4545455 Z" id="Shape" fill="currentColor"></path>
			</g>
			<!-- Style panel icons - dimension -->
			<g id="style-height" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<polygon id="H" fill="#FFFFFF" points="5.33333333 6.52080411 5.33333333 5.33333333 10.2234689 5.33333333 10.2234689 6.52080411 8.69939224 6.7826087 8.69939224 11.485741 15.3006078 11.485741 15.3006078 6.7826087 13.7765311 6.52080411 13.7765311 5.33333333 18.6666667 5.33333333 18.6666667 6.52080411 17.14259 6.7826087 17.14259 17.5072464 18.6666667 17.769051 18.6666667 18.9471716 13.7765311 18.9471716 13.7765311 17.769051 15.3006078 17.5072464 15.3006078 12.9350164 8.69939224 12.9350164 8.69939224 17.5072464 10.2234689 17.769051 10.2234689 18.9471716 5.33333333 18.9471716 5.33333333 17.769051 6.85741 17.5072464 6.85741 6.7826087"></polygon>
			</g>
			<g id="style-width" fill="none">
				<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
				<polygon id="W" fill="#FFFFFF" points="7.98275862 6.42816092 6.70689655 6.62643678 8.31896552 13.5402299 8.55172414 15.1091954 8.60344828 15.1178161 8.93965517 13.5402299 11.25 5.33333333 12.75 5.33333333 15.0689655 13.5402299 15.4137931 15.1522989 15.4655172 15.1522989 15.7155172 13.5402299 17.2931034 6.62643678 16.0086207 6.42816092 16.0086207 5.33333333 20 5.33333333 20 6.42816092 18.9913793 6.55747126 16.2586207 17.8850575 14.7413793 17.8850575 12.2586207 9.17816092 12.0344828 8.04885057 11.9827586 8.04885057 11.7672414 9.17816092 9.25 17.8850575 7.74137931 17.8850575 5.00862069 6.55747126 4 6.42816092 4 5.33333333 7.98275862 5.33333333"></polygon>
			</g>
			<g id="sidebar" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="">
                <g id="ic_web">
                    <g id="Icon-24px">
                        <path d="M23.505376292819214,7.2580647468566895 L7.5053762628192136,7.2580647468566895 C6.405376262819214,7.2580647468566895 5.515376262819213,8.158064746856688 5.515376262819213,9.25806474685669 L5.5053762628192136,21.25806474685669 C5.5053762628192136,22.35806474685669 6.405376262819214,23.25806474685669 7.5053762628192136,23.25806474685669 L23.505376292819214,23.25806474685669 C24.605376292819216,23.25806474685669 25.505376292819214,22.35806474685669 25.505376292819214,21.25806474685669 L25.505376292819214,9.25806474685669 C25.505376292819214,8.158064746856688 24.605376292819216,7.2580647468566895 23.505376292819214,7.2580647468566895 L23.505376292819214,7.2580647468566895 zM23.505376292819214,21.25806474685669 L14.310130392819215,21.25806474685669 L14.310130392819215,11.25806474685669 L23.505376292819214,11.25806474685669 L23.505376292819214,21.25806474685669 L23.505376292819214,21.25806474685669 zM12.505376262819214,21.25806474685669 L7.5053762628192136,21.25806474685669 L7.5053762628192136,11.25806474685669 L12.505376262819214,11.25806474685669 L12.505376262819214,21.25806474685669 L12.505376262819214,21.25806474685669 z" id="Shape" fill="currentColor" />
                        <polygon id="Shape" points="2.8387098908424377,3.2580649852752686 32.83870869874954,3.2580649852752686 32.83870869874954,33.25806427001953 2.8387098908424377,33.25806427001953 " transform="" />
                    </g>
                </g>
            </g>
		</defs>
	</svg>
</iron-iconset-svg>
