<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>oe-decimal demo</title>

    <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

    <script type="module">
        import '@polymer/iron-demo-helpers/demo-pages-shared-styles'; 
        import '@polymer/iron-demo-helpers/demo-snippet'; 
        import '@polymer/polymer/lib/elements/dom-bind';
        import '@polymer/polymer/lib/elements/custom-style';
    </script>

    <script type="module" src="../oe-decimal.js"></script>

    <script type="text/javascript">
        window.OEUtils = window.OEUtils || {};
        window.OEUtils.shouldAllBeLowercase = function (value) {
            var isValid = true;
            if (value && (value.toLowerCase() !== value)) {
                isValid = false;
                this.setValidity(false, 'only-lower-case');
            }
            return isValid;
        };

        function decIncrementValue() {
            var elem = document.getElementById('evdec');
            elem.value += 100;
        }

        function decSetText() {
            var elem = document.getElementById('evdec');
            elem.set('value', '23232.545');
            elem.$.input.fire('change');
        }
    </script>
    <custom-style>
        <style is="custom-style" include="demo-pages-shared-styles">
        </style>
    </custom-style>
</head>

<body>
    <div class="vertical-section-container centered">
        <h3>Decimal Inputs can have default precision, be disabled, and can skip number-groupings</h3>
        <demo-snippet>
            <template>
                <oe-decimal label="decimal input"></oe-decimal>
                <oe-decimal label="disabled input" disabled></oe-decimal>
                <oe-decimal label="input without number groupings" no-grouping></oe-decimal>
                <oe-decimal label="input precision=2" precision=2 value=50000></oe-decimal>
                <oe-decimal label="input precision=2 without number groupings " no-grouping precision=2 value=50000></oe-decimal>
            </template>
        </demo-snippet>

        <h3>Decimals can handle percentage inputs</h3>
        <demo-snippet>
            <template>
                <dom-bind>
                    <template>
                        <label>[[value]]</label>
                        <oe-decimal percentage value={{value}} label="percentage input"></oe-decimal>
                        <oe-decimal percentage value={{value}} label="disabled % input" disabled></oe-decimal>
                        <oe-decimal percentage value={{value}} label="% input precision=2" precision=2 value=50000></oe-decimal>
                    </template>
                </dom-bind>
            </template>
        </demo-snippet>

        <h3>Validations</h3>
        <demo-snippet>
            <template>
                <oe-decimal label="this input requires some number" required format="en-IN"></oe-decimal>
                <oe-decimal field-id="amount" label="this input requires some number <= 50" required max="50"></oe-decimal>
                <oe-decimal label="this input requires some number >= 5" required min="5"></oe-decimal>
                <oe-decimal label="this input requires some number between 100 and 500" required max="500" min="100"></oe-decimal>
            </template>
        </demo-snippet>

        <h3>Precision</h3>
        <demo-snippet>
            <template>
                <oe-decimal label="input default precision is 2"></oe-decimal>
                <oe-decimal label="input precision 4" precision="4"></oe-decimal>
                <oe-decimal label="input integer value (precision=0)" precision="0"></oe-decimal>
            </template>
        </demo-snippet>

        <h3>Externally set value</h3>
        <demo-snippet>
            <template>
                <oe-decimal id="evdec" value="23456"  label="click button to increment value"></oe-decimal>
                <button onclick="decIncrementValue()">+100</button>
                <button onclick="decSetText()">text</button>
            </template>
        </demo-snippet>
    </div>

</body>

</html>