<!-- 
  ©2016-2017 EdgeVerve Systems Limited (a fully owned Infosys subsidiary),
  Bangalore, India. All Rights Reserved.
-->
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

  <title>oe-checkbox-group demo</title>

  <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

  <script type="module">
    import '@polymer/iron-demo-helpers/demo-pages-shared-styles';
    import '@polymer/iron-demo-helpers/demo-snippet';
    import '@polymer/polymer/lib/elements/dom-bind';
    import '@polymer/polymer/lib/elements/custom-style';
    import '@polymer/iron-icon/iron-icon';
    import '@polymer/iron-icons/iron-icons';
  </script>
  <script type="module" src="../../oe-input/oe-json-input.js"></script>
  <script type="module" src="../oe-checkbox-group.js"></script>
  <custom-style>
    <style include="demo-pages-shared-styles">
    </style>
  </custom-style>
</head>

<body unresolved>

  <div class="vertical-section-container centered">
    <h3>Checkbox group</h3>
    <demo-snippet>
      <template>
        <dom-bind>
          <template>
            <oe-checkbox-group value="{{currentSelection}}" label="Make choice" class="layout-radio-button" listdata='["Apples","Oranges"]'>
            </oe-checkbox-group>
            <div>
              <template is="dom-repeat" items={{currentSelection}}>
                <span>{{item}}</span>
              </template>
            </div>
            <oe-checkbox-group value="{{currentSelection}}" label="Disabled Radio Group" disabled class="layout-radio-button" listdata='["Apples","Oranges"]'>
            </oe-checkbox-group>
          </template>
        </dom-bind>
      </template>
    </demo-snippet>

    <h3>Preset value</h3>
    <demo-snippet>
      <template>
        <oe-checkbox-group value='["Oranges"]' label="Pre selected" class="layout-radio-button" listdata='["Apples","Oranges"]'>
        </oe-checkbox-group>
      </template>
    </demo-snippet>

    <h3>[Object] as listdata</h3>
    <demo-snippet>
      <template>
        <dom-bind>
          <template>
            <oe-checkbox-group value={{currentSelection}} listdata='[{"code":"A","description":"Apples"},{"code":"O","description":"Oranges"}]'>
            </oe-checkbox-group>
            <div>
              <template is="dom-repeat" items={{currentSelection}}>
                <span>{{item.code}}</span>-<span>{{item.description}}</span>
              </template>
            </div>
          </template>
        </dom-bind>

        <dom-bind>
          <template>
            <oe-checkbox-group label="displayfield=description" value={{currentSelection}} displayproperty="description" listdata='[{"code":"A","description":"Apples"},{"code":"O","description":"Oranges"}]'>
            </oe-checkbox-group>
            <div>
              <template is="dom-repeat" items={{currentSelection}}>
                <span>{{item.code}}</span>-<span>{{item.description}}</span>
              </template>
            </div>
          </template>
        </dom-bind>

        <dom-bind>
          <template>
            <oe-checkbox-group label="valueproperty=code" value={{currentSelection}} displayproperty="description" valueproperty="code" listdata='[{"code":"A","description":"Apples"},{"code":"O","description":"Oranges"}]'>
            </oe-checkbox-group>
            <div>
              <template is="dom-repeat" items={{currentSelection}}>
                <span>{{item}}</span>
              </template>
            </div>
          </template>
        </dom-bind>
      </template>
    </demo-snippet>

  </div>

</body>

</html>
