<!--
  ©2016-2017 EdgeVerve Systems Limited (a fully owned Infosys subsidiary),
  Bangalore, India. All Rights Reserved.
-->
<html>

<head>
  <title>oe-data-table</title>
  <script src="../../webcomponentsjs/webcomponents.js"></script>
  <script src="../../web-component-tester/browser.js"></script>
  <script src="../../iron-test-helpers/test-helpers.js"></script>
  <script src="../../iron-test-helpers/mock-interactions.js"></script>
  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../../promise-polyfill/promise-polyfill.html">
  <link rel="import" href="../oe-hierarchy-component.html">
  <link rel="import" href="../demo/custom-node.html">
</head>

<body>
  <test-fixture id="basic">
    <template>
      <oe-hierarchy-component>
      </oe-hierarchy-component>
    </template>
  </test-fixture>
  <test-fixture id="templated">
    <template>
      <oe-hierarchy-component>
        <template>
          <custom-node data="{{item}}" show-children="[[showChildren]]"></custom-node>
        </template>
      </oe-hierarchy-component>
    </template>
  </test-fixture>
  <script>
    'use strict';

    HTMLImports.whenReady(function () {
      var data = {
        label: "MTN Holdings",
        children: [{
          label: "MTN Intl",
          children: [{
              label: "MTN Marutis",
              children: [{
                label: "MTN Telecom",
                children: [{
                    label: "MTN Nigeria"
                  },
                  {
                    label: "MTN Uganda"
                  }
                ]
              }]
            },
            {
              label: "Investcom llc"
            },
            {
              label: "MTN Dubai",
              children: [{
                  label: "MTN Telecom (Dubai)",
                  children: [{
                    label: "MTN Ghana"
                  }, {
                    label: "MTN Sudan"
                  }]
                },
                {
                  label: "Mednet"
                }
              ]
            },
            {
              label: "MTN Swaziland"
            }
          ]
        }]
      }
      var data2 = {
        name: "MTN Holdings",
        children: [{
          name: "MTN Intl",
          children: [{
              name: "MTN Marutis",
              id: "GPIF003",
              type: "GPIF",
              children: [{
                name: "MTN Telecom",
                id: "GCIF001",
                type: "GCIF",
                children: [{
                    name: "MTN Nigeria",
                    id: "ECIF005",
                    type: "ECIF"
                  },
                  {
                    name: "MTN Uganda",
                    id: "ECIF006",
                    type: "ECIF"
                  }
                ]
              }]
            },
            {
              name: "Investcom llc",
              id: "GPIF004",
              type: "GPIF"
            },
            {
              name: "MTN Dubai",
              id: "GPIF005",
              type: "GPIF",
              children: [{
                  name: "MTN Telecom (Dubai)",
                  id: "GCIF002",
                  type: "GCIF",
                  children: [{
                    name: "MTN Ghana",
                    id: "ECIF007",
                    type: "ECIF"
                  }, {
                    name: "MTN Sudan",
                    id: "ECIF008",
                    type: "ECIF"
                  }]
                },
                {
                  name: "Mednet",
                  id: "ECIF004",
                  type: "ECIF"
                }
              ]
            },
            {
              name: "MTN Swaziland",
              id: "ECIF003",
              type: "ECIF"
            }
          ]
        }]
      }

      var actions = [{
        icon: "add",
        event: "add-node",
        label: "Add new node"
      }, {
        icon: "create",
        event: "edit-node",
        label: "Edit node"
      }]

      suite('Basic', function () {
        var hierarchyComponent;

        setup(function (done) {
          hierarchyComponent = fixture('basic');
          done();
        });

        test('Show all nodes on expanded form', function (done) {
          expect(hierarchyComponent.querySelectorAll('oe-hierarchy-node').length).to.be.equal(0);
          hierarchyComponent.set('data', data);
          flush(function () {
            var nodeList = hierarchyComponent.querySelectorAll('oe-hierarchy-node');
            expect(nodeList.length).to.be.equal(13);
            var expandedNodes = [].filter.call(nodeList, function (node) {
              return node.showChildren;
            });
            expect(expandedNodes.length).to.be.equal(13);
            done();
          });
        });

        test('node action fires correct event', function (done) {
          hierarchyComponent.set('data', data);
          hierarchyComponent.set('nodeActions', actions);
          flush(function(){
            var node = hierarchyComponent.querySelector('oe-hierarchy-node');
            node.querySelector('.dropdown-trigger').click();
            hierarchyComponent.addEventListener(actions[0].event,function(eve){
              expect(eve.detail.node).to.be.equal(node);
              done();
            });
            flush(function(){
              var firstNodeAction = node.querySelector('.node-action-item');
              firstNodeAction.click();
            });
          })
        });

        test('Events fired on node/connector selection', function (done) {
          hierarchyComponent.set('data', data);
          flush(function(){
            var node = hierarchyComponent.querySelectorAll('oe-hierarchy-node')[3];

            function selectNodeHandler(eve){
              expect(eve.detail.node).to.be.equal(node.data);
              hierarchyComponent.removeEventListener('node-selected',selectNodeHandler);

              hierarchyComponent.addEventListener('pre-connector-selected',selectPreHandler);
              hierarchyComponent.addEventListener('post-connector-selected',selectPostHandler);
              var preSelector = node.querySelector('#pre-connector');
              preSelector.click();
            }
            function selectPreHandler(eve){
              expect(eve.detail.node).to.be.equal(node.data);
              hierarchyComponent.removeEventListener('pre-connector-selected',selectPreHandler);
              var postSelector = node.querySelector('#post-connector');
              postSelector.click();
            }
            function selectPostHandler(eve){
              expect(eve.detail.node).to.be.equal(node.data);
              hierarchyComponent.removeEventListener('post-connector-selected',selectPostHandler);
              done();
            }

            hierarchyComponent.addEventListener('node-selected',selectNodeHandler);
            node.fire('select-node');
          })
        });

        test('Events fired on node/connector deletion', function (done) {
          hierarchyComponent.set('data', data);

          function pressDel(){
            var delKeyEvent = new CustomEvent('keydown');
            delKeyEvent.key = 'Delete';
            document.dispatchEvent(delKeyEvent);
          }


          flush(function(){
            var node = hierarchyComponent.querySelectorAll('oe-hierarchy-node')[5];



            function deleteNodeHandler(eve){
              expect(eve.detail.node).to.be.equal(node.data);
              hierarchyComponent.removeEventListener('remove-node',deleteNodeHandler);

              hierarchyComponent.addEventListener('unlink-child-node',deletePreHandler);
              hierarchyComponent.addEventListener('unlink-all-child-node',deletePostHandler);
              var preSelector = node.querySelector('#pre-connector');
              preSelector.click();
              flush(function(){
                pressDel();
              })
            }
            function deletePreHandler(eve){
              expect(eve.detail.node).to.be.equal(node.data);
              hierarchyComponent.removeEventListener('unlink-child-node',deletePreHandler);
              var postSelector = node.querySelector('#post-connector');
              postSelector.click();
              flush(function(){
                pressDel();
              });
            }
            function deletePostHandler(eve){
              expect(eve.detail.node).to.be.equal(node.data);
              hierarchyComponent.removeEventListener('unlink-all-child-node',deletePostHandler);
              done();
            }

            hierarchyComponent.addEventListener('remove-node',deleteNodeHandler);
            node.fire('select-node');
            flush(function(){
              pressDel();
            })
          })
        });

      });

      suite('Templated', function () {
        var hierarchyComponent;

        setup(function (done) {
          hierarchyComponent = fixture('templated');
          done();
        });

        test('Toggle custom nodes', function (done) {
          expect(hierarchyComponent.querySelectorAll('custom-node').length).to.be.equal(0);
          hierarchyComponent.set('data', data);
          flush(function () {
            var nodeList = hierarchyComponent.querySelectorAll('custom-node');
            expect(nodeList.length).to.be.equal(13);
            var expandedNodes = [].filter.call(nodeList, function (node) {
              return node.showChildren;
            });
            expect(expandedNodes.length).to.be.equal(13);
            flush(function(){
              var firstNode = nodeList[0];
              expect(firstNode.showChildren).to.be.equal(true);
              var collapseIcon = firstNode.querySelector('#toggleIcon');
              collapseIcon.click();
              flush(function(){
                expect(firstNode.showChildren).to.be.equal(false);
                done();
              });
            });
          });
        });
      });

    });
  </script>
</body>

</html>