* {
  box-sizing:border-box;
}
.material-icons {
  font-family:'Material Icons';
  font-weight:normal;
  font-style:normal;
  font-size:24px;
  display:inline-block;
  line-height:1;
  text-transform:none;
  letter-spacing:normal;
  word-wrap:normal;
  white-space:nowrap;
  direction:ltr;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  -moz-osx-font-smoothing:grayscale;
  font-feature-settings:'liga';
}
body, html {
  font-family:'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#727272;
  font-size:12px;
  height:100%;
  max-height:100%;
  padding:0;
  margin:0;
}
a:link {
  text-decoration:none;
}
.content {
  position:relative;
  height:100%;
  width:100%;
  padding:0px;
  background:#d4d4d4;
  > .message {
    width:100%;
    height:100%;
    text-align:center;
    display:table;
    font-size:16px;
    color:#111111;
    .note {
      vertical-align:middle;
      text-align:center;
      display:table-cell;
    }
    .error .details {
      max-width:500px;
      font-size:12px;
      margin:20px auto;
      text-align:left;
    }
    .error pre {
      border:solid 1px #cccccc;
      background:#eeeeee;
      padding:10px;
    }
  }
  .canvas {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    visibility:hidden;
  }
}
.djs-container {
  background:#ffffff;
  overflow:auto;
}
.content:not(.with-error) .error, .content.with-error .intro, .content.with-diagram .intro {
  display:none;
}
.content.with-error .canvas {
  visibility:hidden;
}
.content.with-diagram .canvas {
  visibility:visible;
  width:calc(-200px);
}
.buttons {
  position:fixed;
  bottom:20px;
  left:60px;
  padding:0;
  margin:0;
  list-style:none;
  > li {
    display:inline-block;
    margin-right:10px;
  }
}
#js-properties-panel {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  width:300px;
  border-left:1px solid #cccccc;
  overflow:auto;
  > .djs-properties-panel {
    height:calc(44px);
  }
}
#js-properties-panel:empty {
  display:none;
}
.djs-properties-panel {
  background-color:#ffffff;
  position:relative;
  label.pp-hidden {
    display:none;
  }
  .entry-label {
    font-weight:bolder;
    display:inline-block;
    vertical-align:middle;
    color:#666666;
    font-size:120%;
    margin-top:5px;
    margin-bottom:10px;
    transition:margin 0.218s linear;
    font-style:italic;
  }
  .entry-label[for] {
    cursor:pointer;
  }
  .entry-label.pp-hidden {
    display:none;
  }
  .entry-label.divider {
    border-top:1px dotted #cccccc;
    padding-top:8px;
    margin-top:16px;
    width:100%;
  }
  button {
    position:absolute;
    top:0;
    height:23px;
    width:24px;
    overflow:hidden;
    cursor:pointer;
    background-color:#f8f8f8;
    border:1px solid #cccccc;
    > span {
      display:none;
    }
  }
  button:before {
    font-family:"bpmn-js-pp";
    font-style:normal;
    font-weight:normal;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    position:relative;
  }
  button.add:before {
    content:'\E803';
  }
  button.clear:before {
    content:'\E802';
  }
  button:hover {
    color:#2196f3;
  }
}
.djs-properties-panel:empty {
  display:none;
}
.pp-error-message, .pp-error-message.pp-entry-link {
  color:#f44336;
}
.pp-row {
  margin-top:10px;
  margin-bottom:10px;
}
.pp-row:first-of-type {
  margin-top:0;
}
.pp-row:last-of-type {
  margin-bottom:0;
}
.pp-textfield, .pp-textarea {
  margin-bottom:3px;
}
.pp-radios-group {
  list-style:none;
  padding:0;
  margin:0 0 9px 0;
  input, label {
    vertical-align:middle;
  }
  .pp-radio-wrapper {
    margin:6px 0;
  }
}
.pp-textfield .clear {
  background:transparent;
  border:none;
  top:0;
  right:0;
}
.pp-select button.add {
  top:-23px;
  top:-23px;
  right:0;
  right:0px;
}
.pp-element-list button.add {
  top:-23px;
  right:0px;
}
.pp-select button.clear, .pp-element-list button.clear {
  top:-23px;
  right:23px;
}
.djs-properties-entry .pp-field-wrapper {
  position:relative;
  input[readonly] + .clear {
    display:none;
  }
}
.pp-hidden {
  display:none;
}
label.pp-hidden {
  display:none;
}
.pp-table-add-row > button {
  position:relative;
  margin-left:10px;
}
.pp-table {
  margin-top:10px;
}
.pp-table-row {
  margin-bottom:2px;
  overflow:hidden;
  > label.pp-table-row-columns-1, > input.pp-table-row-columns-1 {
    width:100%;
  }
  > label.pp-table-row-columns-1.pp-table-row-removable, > input.pp-table-row-columns-1.pp-table-row-removable {
    width:calc(76px);
  }
  > label.pp-table-row-columns-2, > input.pp-table-row-columns-2 {
    width:50%;
  }
  > label.pp-table-row-columns-2.pp-table-row-removable, > input.pp-table-row-columns-2.pp-table-row-removable {
    width:calc(38px);
  }
  > label.pp-table-row-columns-2:nth-child(2), > input.pp-table-row-columns-2:nth-child(2) {
    border-left:none;
  }
  > input {
    float:left;
  }
  > button {
    float:left;
    border-left:none;
    position:static;
  }
  > label {
    padding-left:5px;
  }
}
.djs-properties-static {
  margin-bottom:0;
  margin-top:0;
  border:1px solid #cccccc;
  background-color:white;
  padding:3px 6px;
  font:13.3333px Arial;
  width:100%;
}
.pp-entry-link {
  cursor:pointer;
  color:#2196f3;
}
.pp-icon-warning:before {
  font-family:"bpmn-js-pp";
  font-style:normal;
  font-weight:normal;
  speak:none;
  display:inline-block;
  text-decoration:inherit;
  text-align:center;
  font-variant:normal;
  text-transform:none;
  line-height:1em;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  content:'\E806';
}
.djs-properties-header {
  padding:16px;
  > .label {
    font-size:120%;
    font-weight:bolder;
  }
  > .search {
    display:none;
    margin-top:5px;
    position:relative;
    input {
      position:relative;
      border-radius:15px;
      width:100%;
      z-index:1;
    }
    button {
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      border:none;
      background-color:transparent;
      z-index:2;
    }
    button:before {
      content:'\E805';
    }
  }
}
.djs-properties-group {
  position:relative;
  overflow:hidden;
  border-bottom:1px solid #d4d4d4;
  > .group-toggle {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:4px;
    cursor:pointer;
    transition:background-color 0.218s linear;
  }
  > .group-toggle:hover {
    background-color:#2196f3;
  }
  > .group-label {
    font-weight:bolder;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    color:#727272;
    font-size:120%;
    padding:0px 16px;
    height:45px;
    background-color:#f5f5f5;
  }
  > .group-label[for] {
    cursor:pointer;
  }
  > .group-label.pp-hidden {
    display:none;
  }
  > .group-content {
    max-height:9999px;
    padding:16px;
    transition:max-height 0.5s ease;
    overflow:hidden;
    box-sizing:border-box;
  }
  .group-toggle {
    transition:all ease 0.5s;
  }
}
.djs-properties-group:empty {
  display:none;
}
.djs-properties-group:hover > .group-toggle {
  background-color:#cccccc;
}
.djs-properties-group:hover > .group-toggle:hover {
  background-color:#2196f3;
}
.djs-properties-group.group-closed {
  border-top:none;
  cursor:pointer;
  height:45px;
  > .group-content {
    max-height:0px;
    padding:0px;
    transition:max-height 0.5s ease;
  }
  > div {
    visibility:hidden;
  }
  .group-toggle {
    transform:rotate(180deg);
    transition:all ease 0.5s;
  }
}
.djs-properties-group.group-closed:hover > .group-label {
  color:#2196f3;
}
.cam-add-listener > button {
  position:relative;
  margin-left:10px;
}
.djs-listener-area {
  position:relative;
  > button {
    position:absolute;
    right:0;
    top:0;
    border:none;
    background:none;
  }
  + .djs-listener-area {
    margin-top:20px;
  }
}
.djs-properties-tab-bar {
  border-bottom:1px solid #cccccc;
  padding:0 15px;
  .scroll-tabs-button {
    cursor:pointer;
    font-size:16px;
    padding:3px 4px 3px 4px;
    color:#666666;
  }
  .scroll-tabs-button:hover {
    font-weight:bold;
  }
  .scroll-tabs-button.scroll-tabs-left {
    float:left;
    margin-left:-15px;
  }
  .scroll-tabs-button.scroll-tabs-right {
    float:right;
    margin-right:-15px;
  }
}
.djs-properties-tab-bar:not(.scroll-tabs-overflow) .scroll-tabs-button {
  display:none;
}
ul.djs-properties-tabs-links {
  display:flex;
  position:relative;
  height:48px;
  background-color:#ffffff;
  margin:0 auto;
  width:100%;
  white-space:nowrap;
  > li {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    display:block;
    float:left;
    text-align:center;
    line-height:48px;
    height:48px;
    padding:0;
    margin:0;
    text-overflow:ellipsis;
    text-transform:uppercase;
    overflow:hidden;
    letter-spacing:.8px;
    width:15%;
    min-width:80px;
    > a {
      display:block;
      width:100%;
      height:100%;
      text-overflow:ellipsis;
      overflow:hidden;
      transition:color .28s ease;
    }
  }
  > li.pp-hidden {
    display:none;
  }
  > li.pp-active a {
    border-bottom:2px solid #2196f3;
    font-weight:bold;
  }
}
.djs-properties-tab, .djs-properties-tab.pp-hidden {
  display:none;
}
.djs-properties-tab.pp-active {
  display:block;
  overflow:auto;
  height:calc(-57px);
}
textarea.materialize-textarea {
  padding:0px !important;
}
select {
  width:100% !important;
  border:1px solid #f2f2f2 !important;
  margin:8px 0px !important;
  display:block !important;
}